<div id="add-person-block" class="hide">
    <div class="input-query">
        <input id="choose-user" type="text" class="common-input " placeholder="搜索用户"/>
        <span id="choose-query-btn" title="查询"><i class="icon-search"></i></span>
    </div>
    <div id="person-list-block">
        <div class="new-color-bar mt10">
            <span class="title">人员列表（共找到<span class="total-count"></span>条数据）</span>
        </div>
        <table id="communicate-choose" class="typical-tb">
            <thead>
            <tr>
                <td>单位</td>
                <td>姓名</td>
                <td>身份证号</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody class="user-rows"></tbody>
        </table>
        <div class="paging"></div>
    </div>
</div>