<form id="add-form">
    <input name="userId" id="userId" value="<%=data.userId%>" type="hidden"/>
    <input name="orgId" id="orgId" value="<%=data.orgId%>" type="hidden"/>
    <input name="orgName" id="orgName" value="<%=data.orgName%>" type="hidden"/>
    <input name="status" id="status" value="<%=data.status%>" type="hidden"/>
    <div id="main-rights">
        <div class="new-color-bar">
            <span class="title">修改用户信息
            </span>
            <div class="bar-btn-div">
                <b class="cm-save-btn" id="save-save-btn"></b>
                <b class="cm-close-btn" id="save-return-btn"></b>
            </div>
        </div>
        <table id="sys-userInfo-table" class="typical-tb sys-table">
            <tr>
                <td>用户姓名：</td>
                <td>
                    <input id="userName" name="userName" value="<%=data.userName%>" type="text"
                           class="common-input w260px validate" placeholder="请填写真实姓名" data-options="required:true"
                           maxlength="10"
                           onkeyup="var pattern = /^[A-Za-z\u4E00-\u9FA5-]+$/;if(!pattern.test(this.value)){this.value='';this.value=this.value.replace(/^[A-Za-z\u4E00-\u9FA5-]+$/,'')};"/>
                </td>
                <td colspan="2" rowspan="4" style="width: 50%">
                    <div id="person-photo" style="margin-right: 219px;">
                        <form id="avatarUploadForm" enctype="multipart/form-data">
                            <input type="hidden" name="avatar" id="avatar" value='<%=data.avatar%>'/>
                            <div class="avatar-upload">
                                <a class="avatar-selectedImg" id="avatar-selectedImg" href="javascript:void(0);">
                                    <%if(data.avatar && data.avatar !=''){%>
                                    <%
                                    var obj = eval('(' + data.avatar + ')');
                                    var pic = top.ftpServer+obj.p160_160;
                                    var picS = top.ftpServer+obj.source
                                    %>
                                    <img class="avatar-img" id="avatar-img" src="<%=picS%>">
                                    <%}else{%>
                                    <img class="avatar-img" id="avatar-img" src="../../img/touxiang.jpg">
                                    <%}%>
                                </a>
                                <div class="progress" style="height: 6px;margin-bottom:3px">
                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                         aria-valuenow="10" aria-valuemin="0" aria-valuemax="10"
                                         style="width: 0%;">
                                    </div>
                                </div>
                                <label class="cm-upload-btn" for="inputImage" title="Upload image file">
                                    <input type="file" class="sr-only" id="inputImage" name="imageUpload"
                                           accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
                                    <span id="avatar-btn" class="upload-text">选择头像</span>
                                </label>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>所属单位：</td>
                <td>
                    <%=data.orgName%>
                </td>
            </tr>
            <tr>
                <td>身份证号码：</td>
                <td>
                    <input id="cid" name="cid" value="<%=data.cid%>" class="common-input w260px validate" type="text"
                           data-options="required:true,invalidMessage:'请输入有效的15或18位身份证号码',validType:'isChineseID'"
                           placeholder="有效的15或18位身份证号码" minlength="15" maxlength="18"
                           onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\W/g,'')}"
                           onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\W/g,'')}"/>
                </td>
            </tr>
            <tr>
                <td>联系电话：</td>
                <td>
                    <input id="phone" name="phone" value="<%=data.phone%>" class="common-input w260px validate"
                           data-options="required:true,invalidMessage:'请输入正确的手机号码',validType:'isCellphone'" type="text"
                           placeholder="请输入手机号码" maxlength="11"/>
                </td>
            </tr>
            <tr>
                <td>性别：</td>
                <td>
                    <select name="sex" id="sex" class="common-select">
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </td>
                <td>出生日期：</td>
                <td>
                    <input class="w260px common-input" name="birth"
                           value="<%=rangeUtil.formatDate(data.birth,'yyyy-MM-dd')%>" data-options="required:true"
                           value="" type="text" readonly="readonly" tabindex="-1"/>
                </td>
            </tr>
            <tr>
                <td>职务：</td>
                <td>
                    <dict dict-id="post" dict-name="post" dict-type="select" dict-root="FLDZWDM" class="dict"
                          empty="false"></dict>
                </td>
                <td>通讯地址：</td>
                <td>
                    <input class="w260px common-input" name="address" value="<%=data.address%>" type="text"/>
                </td>
            </tr>

        </table>
    </div>
</form>