<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hisign.shuwu.sys.mapper.ReceiveBoxMapper">
	<resultMap type="com.hisign.shuwu.sys.api.model.ReceiveBox" id="BaseResultMap">
      <result column="ID" property="id" jdbcType="VARCHAR"/>
      <result column="MSG_ID" property="msgId" jdbcType="VARCHAR"/>
      <result column="SENDER_NAME" property="senderName" jdbcType="VARCHAR"/>
      <result column="SENDER_ID" property="senderId" jdbcType="VARCHAR"/>
      <result column="RECEIVER_ID" property="receiverId" jdbcType="VARCHAR"/>
      <result column="RECEIVER_NAME" property="receiverName" jdbcType="VARCHAR"/>
      <result column="RECEIVER_TYPE" property="receiverType" jdbcType="VARCHAR"/>
      <result column="MSG_STATE" property="msgState" jdbcType="VARCHAR"/>
      <result column="DEL" property="del" jdbcType="CHAR"/>
      <result column="SECRECY" property="secrecy" jdbcType="CHAR"/>
      <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
      <result column="CREATE_PID" property="createPid" jdbcType="VARCHAR"/>
      <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP"/>
      <result column="MODIFY_PID" property="modifyPid" jdbcType="VARCHAR"/>
      <result column="REV1" property="rev1" jdbcType="VARCHAR"/>
      <result column="REV2" property="rev2" jdbcType="VARCHAR"/>
      <result column="REV3" property="rev3" jdbcType="VARCHAR"/>
      <result column="REV4" property="rev4" jdbcType="VARCHAR"/>
      <result column="SENDER_UNIT" property="senderUnit" jdbcType="VARCHAR"/>
      <result column="MSG_CONTENT" property="msgContent" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="Conditions_Where_Clause">
 	  <foreach collection="oredCriteria" open="where" item="o" separator="or">
	   <if test="o.valid">
	    (
	     <trim suffixOverrides="and">
	     <foreach collection="o.criteriaWithoutValue" item="oc" >${oc} and </foreach>
	     <foreach collection="o.criteriaWithSingleValue" item="os">${os.condition} #{os.val} and </foreach>
	     <foreach collection="o.criteriaWithBetweenValue" item="ob" >
	     ${ob.condition} #{ob.val[0]} and #{ob.val[1]} and 
	     </foreach>
	     <foreach collection="o.criteriaWithListValue" item="ol" separator="and">${ol.condition}
	       <foreach collection="ol.val" open="(" close=")" item="olv" separator=",">#{olv}</foreach>
	     </foreach>
	     </trim>
	    )
	   </if>
 	  </foreach>
	</sql>
	
	<sql id="Update_Conditions_Where_Clause">
	 <if test="conditions!=null">
 	  <foreach collection="conditions.oredCriteria" open="where" item="o" separator="or">
	   <if test="o.valid">
	    (
	     <trim suffixOverrides="and">
	     <foreach collection="o.criteriaWithoutValue" item="oc" >${oc} and </foreach>
	     <foreach collection="o.criteriaWithSingleValue" item="os">${os.condition} #{os.val} and </foreach>
	     <foreach collection="o.criteriaWithBetweenValue" item="ob" >
	     ${ob.condition} #{ob.val[0]} and #{ob.val[1]} and 
	     </foreach>
	     <foreach collection="o.criteriaWithListValue" item="ol" separator="and">${ol.condition}
	       <foreach collection="ol.val" open="(" close=")" item="olv" separator=",">#{olv}</foreach>
	     </foreach>
	     </trim>
	    )
	   </if>
 	  </foreach>
     </if>
	</sql>
	
    <sql id="Base_Column_List">
        ID,
        MSG_ID,
        SENDER_NAME,
        SENDER_ID,
        RECEIVER_ID,
        RECEIVER_NAME,
        RECEIVER_TYPE,
        MSG_STATE,
        DEL,
        SECRECY,
        CREATE_DATE,
        CREATE_PID,
        MODIFY_DATE,
        MODIFY_PID,
        REV1,
        REV2,
        REV3,
        REV4,
        SENDER_UNIT,
        MSG_CONTENT
    </sql>
    
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.hisign.shuwu.sys.api.model.ReceiveBox">
    	<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT sys_guid() from DUAL
    	</selectKey>
        INSERT INTO sys_receive_box (
		    ID,
		    MSG_ID,
		    SENDER_NAME,
		    SENDER_ID,
		    RECEIVER_ID,
		    RECEIVER_NAME,
		    RECEIVER_TYPE,
		    MSG_STATE,
		    DEL,
		    SECRECY,
		    CREATE_DATE,
		    CREATE_PID,
		    MODIFY_DATE,
		    MODIFY_PID,
		    REV1,
		    REV2,
		    REV3,
		    REV4,
		    SENDER_UNIT,
		    MSG_CONTENT
        ) VALUES (
		    #{id,jdbcType=VARCHAR},
		    #{msgId,jdbcType=VARCHAR},
		    #{senderName,jdbcType=VARCHAR},
		    #{senderId,jdbcType=VARCHAR},
		    #{receiverId,jdbcType=VARCHAR},
		    #{receiverName,jdbcType=VARCHAR},
		    #{receiverType,jdbcType=VARCHAR},
		    #{msgState,jdbcType=VARCHAR},
		    #{del,jdbcType=CHAR},
		    #{secrecy,jdbcType=CHAR},
		    #{createDate,jdbcType=TIMESTAMP},
		    #{createPid,jdbcType=VARCHAR},
		    #{modifyDate,jdbcType=TIMESTAMP},
		    #{modifyPid,jdbcType=VARCHAR},
		    #{rev1,jdbcType=VARCHAR},
		    #{rev2,jdbcType=VARCHAR},
		    #{rev3,jdbcType=VARCHAR},
		    #{rev4,jdbcType=VARCHAR},
		    #{senderUnit,jdbcType=VARCHAR}
		    #{msgContent,jdbcType=VARCHAR}
        )
    </insert>
    
    <insert id="insertNotNull" keyProperty="id" useGeneratedKeys="true" parameterType="com.hisign.shuwu.sys.api.model.ReceiveBox">
    <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT sys_guid() from DUAL
    </selectKey>
    insert into sys_receive_box
    <trim prefix="(" suffix=")" suffixOverrides=",">
	    <if test="id!=null  and id != '' ">
	    ID,
	    </if>
	    <if test="msgId!=null  and msgId != '' ">
	    MSG_ID,
	    </if>
	    <if test="senderName!=null  and senderName != '' ">
	    SENDER_NAME,
	    </if>
	    <if test="senderId!=null  and senderId != '' ">
	    SENDER_ID,
	    </if>
	    <if test="receiverId!=null  and receiverId != '' ">
	    RECEIVER_ID,
	    </if>
	    <if test="receiverName!=null  and receiverName != '' ">
	    RECEIVER_NAME,
	    </if>
	    <if test="receiverType!=null  and receiverType != '' ">
	    RECEIVER_TYPE,
	    </if>
	    <if test="msgState!=null  and msgState != '' ">
	    MSG_STATE,
	    </if>
	    <if test="del!=null  and del != '' ">
	    DEL,
	    </if>
	    <if test="secrecy!=null  and secrecy != '' ">
	    SECRECY,
	    </if>
	    <if test="createDate!=null ">
	    CREATE_DATE,
	    </if>
	    <if test="createPid!=null  and createPid != '' ">
	    CREATE_PID,
	    </if>
	    <if test="modifyDate!=null ">
	    MODIFY_DATE,
	    </if>
	    <if test="modifyPid!=null  and modifyPid != '' ">
	    MODIFY_PID,
	    </if>
	    <if test="rev1!=null  and rev1 != '' ">
	    REV1,
	    </if>
	    <if test="rev2!=null  and rev2 != '' ">
	    REV2,
	    </if>
	    <if test="rev3!=null  and rev3 != '' ">
	    REV3,
	    </if>
	    <if test="rev4!=null  and rev4 != '' ">
	    REV4,
	    </if>
	    <if test="senderUnit!=null  and senderUnit != '' ">
	    SENDER_UNIT
	    </if>
	    <if test="msgContent!=null  and msgContent != '' ">
	    MSG_CONTENT
	    </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
     	<if test="id!=null  and id != '' ">
	    #{id,jdbcType=VARCHAR},
	    </if>
     	<if test="msgId!=null  and msgId != '' ">
	    #{msgId,jdbcType=VARCHAR},
	    </if>
     	<if test="senderName!=null  and senderName != '' ">
	    #{senderName,jdbcType=VARCHAR},
	    </if>
     	<if test="senderId!=null  and senderId != '' ">
	    #{senderId,jdbcType=VARCHAR},
	    </if>
     	<if test="receiverId!=null  and receiverId != '' ">
	    #{receiverId,jdbcType=VARCHAR},
	    </if>
     	<if test="receiverName!=null  and receiverName != '' ">
	    #{receiverName,jdbcType=VARCHAR},
	    </if>
     	<if test="receiverType!=null  and receiverType != '' ">
	    #{receiverType,jdbcType=VARCHAR},
	    </if>
     	<if test="msgState!=null  and msgState != '' ">
	    #{msgState,jdbcType=VARCHAR},
	    </if>
     	<if test="del!=null  and del != '' ">
	    #{del,jdbcType=CHAR},
	    </if>
     	<if test="secrecy!=null  and secrecy != '' ">
	    #{secrecy,jdbcType=CHAR},
	    </if>
     	<if test="createDate!=null ">
	    #{createDate,jdbcType=TIMESTAMP},
	    </if>
     	<if test="createPid!=null  and createPid != '' ">
	    #{createPid,jdbcType=VARCHAR},
	    </if>
     	<if test="modifyDate!=null ">
	    #{modifyDate,jdbcType=TIMESTAMP},
	    </if>
     	<if test="modifyPid!=null  and modifyPid != '' ">
	    #{modifyPid,jdbcType=VARCHAR},
	    </if>
     	<if test="rev1!=null  and rev1 != '' ">
	    #{rev1,jdbcType=VARCHAR},
	    </if>
     	<if test="rev2!=null  and rev2 != '' ">
	    #{rev2,jdbcType=VARCHAR},
	    </if>
     	<if test="rev3!=null  and rev3 != '' ">
	    #{rev3,jdbcType=VARCHAR},
	    </if>
     	<if test="rev4!=null  and rev4 != '' ">
	    #{rev4,jdbcType=VARCHAR},
	    </if>
     	<if test="senderUnit!=null  and senderUnit != '' ">
	    #{senderUnit,jdbcType=VARCHAR},
	    </if>
	    <if test="msgContent!=null  and msgContent != '' ">
	    #{msgContent,jdbcType=VARCHAR}
	    </if>
    </trim>
  </insert>
	
	<insert id="batchInsert" parameterType="java.util.List">
		INSERT INTO sys_receive_box (
		   	ID,
		   	MSG_ID,
		   	SENDER_NAME,
		   	SENDER_ID,
		   	RECEIVER_ID,
		   	RECEIVER_NAME,
		   	RECEIVER_TYPE,
		   	MSG_STATE,
		   	DEL,
		   	SECRECY,
		   	CREATE_PID,
		   	MODIFY_PID,
		   	REV1,
		   	REV2,
		   	REV3,
		   	REV4,
		   	SENDER_UNIT,
		   	MSG_CONTENT,
		   	CREATE_DATE,
		   	MODIFY_DATE
        ) 
		<foreach collection="list" open="(" close=")" item="item" index="index" separator="union all" > 
			 select
		    sys_guid(),
		    #{item.msgId,jdbcType=VARCHAR},
		    #{item.senderName,jdbcType=VARCHAR},
		    #{item.senderId,jdbcType=VARCHAR},
		    #{item.receiverId,jdbcType=VARCHAR},
		    #{item.receiverName,jdbcType=VARCHAR},
		    #{item.receiverType,jdbcType=VARCHAR},
		    #{item.msgState,jdbcType=VARCHAR},
		    #{item.del,jdbcType=CHAR},
		    #{item.secrecy,jdbcType=CHAR},
		    #{item.createPid,jdbcType=VARCHAR},
		    #{item.modifyPid,jdbcType=VARCHAR},
		    #{item.rev1,jdbcType=VARCHAR},
		    #{item.rev2,jdbcType=VARCHAR},
		    #{item.rev3,jdbcType=VARCHAR},
		    #{item.rev4,jdbcType=VARCHAR},
		    #{item.senderUnit,jdbcType=VARCHAR},
		    #{item.msgContent,jdbcType=VARCHAR},
		    sysdate,
		    sysdate
	        from dual
		</foreach> 
	</insert>
	
    <!-- 更新 -->
    <update id="update" parameterType="com.hisign.shuwu.sys.api.model.ReceiveBox">
        UPDATE sys_receive_box
        <trim prefix="SET" suffixOverrides=",">
		    MSG_ID=#{msgId},
		    SENDER_NAME=#{senderName},
		    SENDER_ID=#{senderId},
		    RECEIVER_ID=#{receiverId},
		    RECEIVER_NAME=#{receiverName},
		    RECEIVER_TYPE=#{receiverType},
		    MSG_STATE=#{msgState},
		    DEL=#{del},
		    SECRECY=#{secrecy},
		    CREATE_DATE=#{createDate},
		    CREATE_PID=#{createPid},
		    MODIFY_DATE=#{modifyDate},
		    MODIFY_PID=#{modifyPid},
		    REV1=#{rev1},
		    REV2=#{rev2},
		    REV3=#{rev3},
		    REV4=#{rev4},
		    MSG_CONTENT=#{msgContent},
		    SENDER_UNIT=#{senderUnit}
        </trim>
        WHERE
        ID = #{id,jdbcType=VARCHAR}
    </update>
	
    <update id="updateNotNull" parameterType="com.hisign.shuwu.sys.api.model.ReceiveBox">
        UPDATE sys_receive_box
        <trim prefix="SET" suffixOverrides=",">
            <if test="msgId!=null  and msgId != '' ">
                MSG_ID = #{msgId,jdbcType=VARCHAR},
            </if>
            <if test="senderName!=null  and senderName != '' ">
                SENDER_NAME = #{senderName,jdbcType=VARCHAR},
            </if>
            <if test="senderId!=null  and senderId != '' ">
                SENDER_ID = #{senderId,jdbcType=VARCHAR},
            </if>
            <if test="receiverId!=null  and receiverId != '' ">
                RECEIVER_ID = #{receiverId,jdbcType=VARCHAR},
            </if>
            <if test="receiverName!=null  and receiverName != '' ">
                RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
            </if>
            <if test="receiverType!=null  and receiverType != '' ">
                RECEIVER_TYPE = #{receiverType,jdbcType=VARCHAR},
            </if>
            <if test="msgState!=null  and msgState != '' ">
                MSG_STATE = #{msgState,jdbcType=VARCHAR},
            </if>
            <if test="del!=null  and del != '' ">
                DEL = #{del,jdbcType=CHAR},
            </if>
            <if test="secrecy!=null  and secrecy != '' ">
                SECRECY = #{secrecy,jdbcType=CHAR},
            </if>
            <if test="createDate!=null ">
                CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createPid!=null  and createPid != '' ">
                CREATE_PID = #{createPid,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate!=null ">
                MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyPid!=null  and modifyPid != '' ">
                MODIFY_PID = #{modifyPid,jdbcType=VARCHAR},
            </if>
            <if test="rev1!=null  and rev1 != '' ">
                REV1 = #{rev1,jdbcType=VARCHAR},
            </if>
            <if test="rev2!=null  and rev2 != '' ">
                REV2 = #{rev2,jdbcType=VARCHAR},
            </if>
            <if test="rev3!=null  and rev3 != '' ">
                REV3 = #{rev3,jdbcType=VARCHAR},
            </if>
            <if test="rev4!=null  and rev4 != '' ">
                REV4 = #{rev4,jdbcType=VARCHAR},
            </if>
            <if test="senderUnit!=null  and senderUnit != '' ">
                SENDER_UNIT = #{senderUnit,jdbcType=VARCHAR},
            </if>
            <if test="msgContent !=null  and msgContent != '' ">
                MSG_CONTENT = #{msgContent,jdbcType=VARCHAR},
            </if>
        </trim>
        WHERE ID=#{id}
    </update>

    <update id="updateCustom" parameterType="com.hisign.bfun.bmodel.UpdateParams">
    UPDATE sys_receive_box
    <trim prefix="SET" suffixOverrides=",">
    	<foreach collection="fields" item="item" index="index" separator="," >
        ${item}  #{values[${index}]}
        </foreach>
    </trim>
	<include refid="Update_Conditions_Where_Clause" />	
	<if test="conditions!=null">
		<if test="conditions.orderByClause!=null"> ${conditions.orderByClause}</if> 
	</if>	
    </update>
    
    <!-- 按Id删除 -->
    <delete id="deleteById" parameterType="java.lang.String">
        DELETE FROM sys_receive_box
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            AND ID = #{id}
        </trim>
    </delete>

    <!--根据list(ids)删除对象-->
    <delete id="deleteByIds">
        DELETE FROM sys_receive_box
        WHERE id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>

	<!--根据自定义删除对象-->
    <delete id="deleteCustom" parameterType="com.hisign.bfun.bmodel.Conditions">
        DELETE FROM sys_receive_box
        <include refid="Conditions_Where_Clause" />
        <if test="orderByClause!=null">${orderByClause}</if> 
    </delete>
    
    <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT  
	    <include refid="Base_Column_List" />
        FROM sys_receive_box 
        WHERE 
        ID = #{id}
        and rownum = 1 
    </select>
    
    <select id="findByEntity" parameterType="com.hisign.shuwu.sys.api.model.ReceiveBox" resultMap="BaseResultMap">
        SELECT  
	    <include refid="Base_Column_List" />
        FROM sys_receive_box 
        WHERE 1 = 1
	     	<if test="id!=null  and id != '' ">
		   	 and ID=#{id,jdbcType=VARCHAR}
		    </if>
	     	<if test="msgId!=null  and msgId != '' ">
		   	 and MSG_ID=#{msgId,jdbcType=VARCHAR}
		    </if>
	     	<if test="senderName!=null  and senderName != '' ">
		   	 and SENDER_NAME=#{senderName,jdbcType=VARCHAR}
		    </if>
	     	<if test="senderId!=null  and senderId != '' ">
		   	 and SENDER_ID=#{senderId,jdbcType=VARCHAR}
		    </if>
	     	<if test="receiverId!=null  and receiverId != '' ">
		   	 and RECEIVER_ID=#{receiverId,jdbcType=VARCHAR}
		    </if>
	     	<if test="receiverName!=null  and receiverName != '' ">
		   	 and RECEIVER_NAME=#{receiverName,jdbcType=VARCHAR}
		    </if>
	     	<if test="receiverType!=null  and receiverType != '' ">
		   	 and RECEIVER_TYPE=#{receiverType,jdbcType=VARCHAR}
		    </if>
	     	<if test="msgState!=null  and msgState != '' ">
		   	 and MSG_STATE=#{msgState,jdbcType=VARCHAR}
		    </if>
	     	<if test="del!=null  and del != '' ">
		   	 and DEL=#{del,jdbcType=CHAR}
		    </if>
	     	<if test="secrecy!=null  and secrecy != '' ">
		   	 and SECRECY=#{secrecy,jdbcType=CHAR}
		    </if>
	     	<if test="createDate!=null ">
		   	 and CREATE_DATE=#{createDate,jdbcType=TIMESTAMP}
		    </if>
	     	<if test="createPid!=null  and createPid != '' ">
		   	 and CREATE_PID=#{createPid,jdbcType=VARCHAR}
		    </if>
	     	<if test="modifyDate!=null ">
		   	 and MODIFY_DATE=#{modifyDate,jdbcType=TIMESTAMP}
		    </if>
	     	<if test="modifyPid!=null  and modifyPid != '' ">
		   	 and MODIFY_PID=#{modifyPid,jdbcType=VARCHAR}
		    </if>
	     	<if test="rev1!=null  and rev1 != '' ">
		   	 and REV1=#{rev1,jdbcType=VARCHAR}
		    </if>
	     	<if test="rev2!=null  and rev2 != '' ">
		   	 and REV2=#{rev2,jdbcType=VARCHAR}
		    </if>
	     	<if test="rev3!=null  and rev3 != '' ">
		   	 and REV3=#{rev3,jdbcType=VARCHAR}
		    </if>
	     	<if test="rev4!=null  and rev4 != '' ">
		   	 and REV4=#{rev4,jdbcType=VARCHAR}
		    </if>
	     	<if test="senderUnit!=null  and senderUnit != '' ">
		   	 and SENDER_UNIT=#{senderUnit,jdbcType=VARCHAR}
		    </if>
	     	<if test="msgContent !=null  and msgContent != '' ">
		   	 and MSG_CONTENT=#{msgContent,jdbcType=VARCHAR}
		    </if>
	 	and rownum = 1 
    </select>
    
    <select id="findByCondition" parameterType="com.hisign.bfun.bmodel.Conditions" resultMap="BaseResultMap">
        SELECT 
        <choose>
           <when test="returnFields != null">
           <foreach collection="returnFields" item="f" separator=",">${f}</foreach>
           </when>
           <otherwise>
	       <include refid="Base_Column_List" />
           </otherwise>
        </choose>
        FROM sys_receive_box
       	<if test="connectTable!=null">
	        <foreach collection="connectTable" item="tb">
	       	,${tb}
	       	</foreach>
        </if>
        <include refid="Conditions_Where_Clause" />
        and rownum = 1 
    </select>

    <select id="findList"  parameterType="com.hisign.bfun.bmodel.Conditions" resultMap="BaseResultMap">
    	select p.* from(
	    select
	      rownum,rownum as rn,a.* from (
	      select t.* from (
	      
        SELECT
        <if test="distinct!=false">
        DISTINCT
        </if>
        <choose>
           <when test="returnFields != null">
           <foreach collection="returnFields" item="f" separator=",">${f}</foreach>
           </when>
           <otherwise>
	       <include refid="Base_Column_List" />
           </otherwise>
        </choose>
        FROM sys_receive_box
        <if test="connectTable!=null">
	        <foreach collection="connectTable" item="tb">
	       	,${tb}
	       	</foreach>
        </if>
        <include refid="Conditions_Where_Clause" />
        <if test="orderByClause!=null">${orderByClause}</if> 
        
        ) t ) a
	      <if test="end !=null and end !=0">
	        where rownum <![CDATA[<=]]> ${end}
	      </if>
	      ) p
	    <if test="begin !=null and begin !=0">
	      where rn >= ${begin}
	    </if>
    </select>

    <select id="findCount" parameterType="com.hisign.bfun.bmodel.Conditions" resultType="java.lang.Long">
        SELECT
        COUNT(1)
        FROM sys_receive_box
        <if test="connectTable!=null">
	        <foreach collection="connectTable" item="tb">
	       	,${tb}
	       	</foreach>
        </if>
        <include refid="Conditions_Where_Clause" />
    </select>

    <select id="selectMaxId" resultType="java.lang.String">
        SELECT
        MAX(id)
        FROM sys_receive_box
    </select>
   
</mapper>