<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hisign.shuwu.sys.mapper.SysParameterMapper" >
	<select id="findSysConfigList"  resultType="com.hisign.shuwu.sys.api.model.SysParam">
			SELECT t.*,rownum FROM (
				SELECT
					ID 			 	AS id,
					CHINESE_NAME 	AS chineseName,
					ENGLISH_NAME 	AS englishName,
					VALUE 			AS value,
					DEFAULT_VALUE 	AS defaultValue,
					REMARK 			AS remark,
					CREATE_PID 	    AS createUser,
					CREATE_DATE     AS createDatetime,
					MODIFY_PID 	    AS updateUser,
					MODIFY_DATE     AS updateDatetime,
					PARAM_TYPE      AS paramType,
					PARAM_SORT      AS paramSort,
					DICT_TYPE       AS dictType,
					HIDE_FLAG       AS hideFlag,
					CONFIG_ID       AS configId
				FROM SYS_PARAMETER
				WHERE 1=1 and hide_flag = '0' order by to_number(param_sort) nulls last) t
	</select>

	<select id="findSysParamConfigList"  resultType="com.hisign.shuwu.sys.api.model.SysParamConfig">
		SELECT t.*,rownum FROM (
		SELECT
		ID 			 	AS id,
		SEQ 	        AS seq,
		CHINESE_NAME 	AS chineseName,
		ENGLISH_NAME 	AS englishName,
		DEL 			AS del,
		CREATE_USER	    AS createUser,
		CREATE_DATE     AS createDatetime,
		MODIFY_USER	    AS updateUser,
		MODIFY_DATE     AS updateDatetime
		FROM SYS_PARAMETER_CONFIG
		WHERE 1=1 ORDER BY SEQ) t
	</select>

	<insert id="insertSysParameter" parameterType="com.hisign.shuwu.sys.api.model.SysParam" >
		INSERT INTO SYS_PARAMETER(
			ID,
			CHINESE_NAME,
			ENGLISH_NAME,
			VALUE,
			DEFAULT_VALUE,
			REMARK,
			CREATE_PID,
			CREATE_DATE,
			PARAM_SORT,
			HIDE_FLAG,
			DICT_TYPE,
			PARAM_TYPE,
			CONFIG_ID
		)VALUES(
			sys_guid(),
			#{chineseName},
			#{englishName},
			#{value},
			#{defaultValue},
			#{remark},
			#{createUser},
			sysdate,
			#{paramSort},
			#{hideFlag},
			#{dictType},
			#{paramType},
			#{configId}
		)
	</insert>
	
	<update id="batchUpdateSysParameter" parameterType="java.util.List" >
	   <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
		   UPDATE SYS_PARAMETER SET
			VALUE =  #{item.value,jdbcType=VARCHAR}
			WHERE ID =  #{item.name}
       </foreach>
	</update>

	<update id="updateSysParameterConfig" parameterType="com.hisign.shuwu.sys.api.model.SysParam" >
		UPDATE SYS_PARAMETER SET
	    <if test="value != null and value != ''">
	          VALUE = #{value,jdbcType=VARCHAR},
	    </if>
	 	
	 	<if test="chineseName != null and chineseName != ''">
	 	     CHINESE_NAME = #{chineseName,jdbcType=VARCHAR},
	    </if>
		
		<if test="englishName != null and englishName != ''">
		     ENGLISH_NAME = #{englishName,jdbcType=VARCHAR},
	    </if>
		
		<if test="defaultValue != null and defaultValue != ''">
		    DEFAULT_VALUE = #{defaultValue,jdbcType=VARCHAR},
	    </if>
		
		<if test="remark != null and remark != ''">
		    REMARK = #{remark,jdbcType=VARCHAR},
	    </if>
		
		<if test="paramSort != null and paramSort != ''">
		    PARAM_SORT = #{paramSort,jdbcType=VARCHAR},
	    </if>
		
		<if test="hideFlag != null and hideFlag != ''">
		   HIDE_FLAG = #{hideFlag,jdbcType=CHAR},
	    </if>
		
		<if test="dictType != null and dictType != ''">
		   DICT_TYPE = 	#{dictType,jdbcType=VARCHAR},
	    </if>
		
		<if test="paramType != null and paramType != ''">
		   PARAM_TYPE = #{paramType,jdbcType=VARCHAR},
	    </if>
		
		<if test="configId != null and configId != ''">
		    CONFIG_ID = #{configId,jdbcType=CHAR},
	    </if>
		
		<if test="updateUser != null and updateUser != ''">
			MODIFY_PID = #{updateUser},
		</if>
		MODIFY_DATE = sysdate
		WHERE id = #{paramEditId}
	</update>

	<select id="checkSysParameter"  parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT
			count(1)
		FROM SYS_PARAMETER
		WHERE 1=1 AND ENGLISH_NAME = #{englishName} AND CONFIG_ID = #{configId}
	</select>
	<select id="findSysParameterById" parameterType="java.lang.String"  resultType="com.hisign.shuwu.sys.api.model.SysParam" >
	     SELECT
					ID 			 	AS id,
					CHINESE_NAME 	AS chineseName,
					ENGLISH_NAME 	AS englishName,
					VALUE 			AS value,
					DEFAULT_VALUE 	AS defaultValue,
					REMARK 			AS remark,
					CREATE_PID 	    AS createUser,
					CREATE_DATE     AS createDatetime,
					MODIFY_PID 	    AS updateUser,
					MODIFY_DATE     AS updateDatetime
				FROM SYS_PARAMETER
		WHERE ID=#{id}
	</select>
	<select id="getParamByName" parameterType="java.lang.String"  resultType="com.hisign.shuwu.sys.api.model.SysParam">
			SELECT
					ID 			 	AS id,
					CHINESE_NAME 	AS chineseName,
					ENGLISH_NAME 	AS englishName,
					VALUE 			AS value,
					DEFAULT_VALUE 	AS defaultValue,
					REMARK 			AS remark,
					CREATE_PID 	    AS createUser,
					CREATE_DATE     AS createDatetime,
					MODIFY_PID 	    AS updateUser,
					MODIFY_DATE     AS updateDatetime
				FROM SYS_PARAMETER
				WHERE ENGLISH_NAME=#{englishName}
				and rownum=1
	</select>

</mapper>