<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试极光IM</title>
    <link rel="stylesheet" href="../../css/base-plus-xz.css">
    <!--<link rel="stylesheet" href="../../css/base-xz.css">-->
    <link rel="stylesheet" href="css/chartPage.css">
</head>
<body>
<div class="message-container">
    <div class="message-main">
        <div class="left-sidebar">
            <div class="group-name"></div>
            <div class="search-wrap"><input type="text" class="common-input" placeholder="请输入关键字搜索"/></div>
            <ul class="member-list" tpsource="#member-list-tp"> </ul>
        </div>

        <div class="right-main">
            <div class="m-message">
                <ul class="message-list" tpsource="#message-list-tp"> </ul>
            </div>
            <div class="m-emoji">
                <b id="sendFileBtn" class="fa fa-folder-o" title="发送文件">
                    <input type="file" class="file-images" id="fileBox">
                </b>
                <b id="sendFileImagesBtn" class="fa fa-file-image-o" title="发送图片">
                    <input type="file" class="file-images" id="fileImagesBox" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
                </b>
                <b id="sendEmojiBtn" class="fa fa-meh-o" title="选择表情"></b>
                <b id="setTextSizeBtn" class="fa fa-font" title="设置字体大小"></b>
                <div class="div-panel"></div>
            </div>
            <div class="m-text">
                <!-- placeholder="按 Enter 发送"-->
                <div class="text-content" id="messageContent" contenteditable="true"></div>
            </div>
            <div class="m-btn">
                <button id="sendBtn" class="cm-save-btn">发送</button>
            </div>
        </div>

    </div>
</div>

</body>
<script type="text/template" id="member-list-tp">
    <li class="">
        <img class="member-avatar" src="../../img/pc-avatar.png"/>
        <span class="member">{nickName}</span>
    </li>
</script>
<script type="text/template" id="message-list-tp">
    <li>
        <div class="time"><span>{content.create_time}</span></div>
        <div class="main self">
            <img class="member-avatar" src="../../img/pc-avatar.png"/>
            <div class="text-wrap">
                <div class="from-name">{content.from_id}</div>
                <div class="text">{content.msg_body.text}</div>
            </div>
        </div>
    </li>
</script>

<script src="../../js/base.js"></script>

<script src='../../plugin/jmessage-sdk-web-2.3.1/jmessage-sdk-web.2.3.1.min.js'></script>
<script src="../../plugin/jquery-2.2.0.js"></script>
<script src="../../plugin/jmessage-sdk-web-2.3.1/emoji.js"></script>
<script src="../../plugin/jmessage-sdk-web-2.3.1/md5.min.js"></script>
<script src="../../plugin/upclick-min.js?version=0.99"></script>

<script src="chatPage1.js"></script>
</html>
