<%_.each(data, function(item){%>
<tr>
    <td><input type="checkbox" id="selectAll"></td>
    <td><%=item.rownum%></td>
    <td><%=item.taskName%></td>
    <td><a class="link-text"><%=item.taskContent%></a></td>
    <td><%=item.belongGroup%></td>
    <td><%=item.createName%></td>
    <td><%=rangeUtil.formatDate(item.createDate,'yyyy-MM-dd')%></td>
    <td><%=item.recipient%></td>
    <td><%=item.taskStatus%></td>
    <td><%=item.recipientStatus%></td>
    <td><%=rangeUtil.formatDate(item.submitDate,'yyyy-MM-dd')%></td>
    <td><%=rangeUtil.formatDate(item.actualSubmitDate,'yyyy-MM-dd')%></td>
</tr>
<%})%>

