<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hisign.xingzhen.xz.mapper.TaskMapper">
    <resultMap type="com.hisign.xingzhen.xz.api.model.TaskModel" id="BaseResultMap">
        <result column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="TASK_NO" property="taskNo" jdbcType="VARCHAR"/>
        <result column="TASK_NAME" property="taskName" jdbcType="VARCHAR"/>
        <result column="TASK_CONTENT" property="taskContent" jdbcType="VARCHAR"/>
        <result column="GROUPID" property="groupid" jdbcType="VARCHAR"/>
        <result column="PGROUPID" property="pgroupid" jdbcType="VARCHAR"/>
        <result column="BCRWID" property="bcrwid" jdbcType="VARCHAR"/>
        <result column="FKID" property="fkid" jdbcType="VARCHAR"/>
        <result column="YJRWID" property="yjrwid" jdbcType="VARCHAR"/>
        <result column="FQR_LXFS" property="fqrLxfs" jdbcType="VARCHAR"/>
        <result column="FQR" property="fqr" jdbcType="VARCHAR"/>
        <result column="FQRNAME" property="fqrname" jdbcType="VARCHAR"/>
        <result column="JSR_LXFS" property="jsrLxfs" jdbcType="VARCHAR"/>
        <result column="JSR" property="jsr" jdbcType="VARCHAR"/>
        <result column="JSRNAME" property="jsrname" jdbcType="VARCHAR"/>
        <result column="FQ_TIME" property="fqTime" jdbcType="TIMESTAMP"/>
        <result column="FKJZ_TIME" property="fkjzTime" jdbcType="TIMESTAMP"/>
        <result column="FKZT" property="fkzt" jdbcType="VARCHAR"/>
        <result column="FK_TIME" property="fkTime" jdbcType="TIMESTAMP"/>
        <result column="CBZT" property="cbzt" jdbcType="VARCHAR"/>
        <result column="QSZT" property="qszt" jdbcType="VARCHAR"/>
        <result column="QS_TIME" property="qsTime" jdbcType="TIMESTAMP"/>
        <result column="YJZT" property="yjzt" jdbcType="VARCHAR"/>
        <result column="YJ_TIME" property="yjTime" jdbcType="TIMESTAMP"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="CREATENAME" property="createname" jdbcType="VARCHAR"/>
        <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="DEPARMENTCODE" property="deparmentcode" jdbcType="VARCHAR"/>
        <result column="DEPARMENTNAME" property="deparmentname" jdbcType="VARCHAR"/>
        <result column="LASTUPDATETIME" property="lastupdatetime" jdbcType="TIMESTAMP"/>
        <result column="DELETEFLAG" property="deleteflag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Conditions_Where_Clause">
        <foreach collection="oredCriteria" open="where" item="o" separator="or">
            <if test="o.valid">
                (
                <trim suffixOverrides="and">
                    <foreach collection="o.criteriaWithoutValue" item="oc" separator="and">${oc} and </foreach>
                    <foreach collection="o.criteriaWithSingleValue" item="os">${os.condition} #{os.val} and </foreach>
                    <foreach collection="o.criteriaWithBetweenValue" item="ob">${ob.condition} #{ob.val[0]} and #{ob.val[1]} and </foreach>
                    <foreach collection="o.criteriaWithListValue" item="ol">${ol.condition}
                        <foreach collection="ol.val" open="(" close=")" item="olv" separator=",">#{olv}</foreach>
                    </foreach>
                </trim>
                )
            </if>
        </foreach>
    </sql>

    <sql id="Update_Conditions_Where_Clause">
        <if test="conditions!=null">
            <foreach collection="conditions.oredCriteria" open="where" item="o" separator="or">
                <if test="o.valid">
                    (
                    <trim suffixOverrides="and">
                        <foreach collection="o.criteriaWithoutValue" item="oc" separator="and">${oc} and </foreach>
                        <foreach collection="o.criteriaWithSingleValue" item="os">${os.condition} #{os.val} and </foreach>
                        <foreach collection="o.criteriaWithBetweenValue" item="ob">${ob.condition} #{ob.val[0]} and #{ob.val[1]} and</foreach>
                        <foreach collection="o.criteriaWithListValue" item="ol">${ol.condition}
                            <foreach collection="ol.val" open="(" close=")" item="olv" separator=",">#{olv}</foreach>
                        </foreach>
                    </trim>
                    )
                </if>
            </foreach>
        </if>
    </sql>

    <sql id="Base_Column_List">
        ID,
        TASK_NO,
        TASK_NAME,
        TASK_CONTENT,
        GROUPID,
        PGROUPID,
        BCRWID,
        FKID,
        YJRWID,
        FQR_LXFS,
        FQR,
        FQRNAME,
        JSR_LXFS,
        JSR,
        JSRNAME,
        FQ_TIME,
        FKJZ_TIME,
        FKZT,
        FK_TIME,
        CBZT,
        QSZT,
        QS_TIME,
        YJZT,
        YJ_TIME,
        CREATOR,
        CREATENAME,
        CREATETIME,
        DEPARMENTCODE,
        DEPARMENTNAME,
        LASTUPDATETIME,
        DELETEFLAG
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.hisign.xingzhen.xz.api.entity.Task">
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
            SELECT sys_guid() from DUAL
        </selectKey>
        INSERT INTO t_task (
        ID,
        TASK_NO,
        TASK_NAME,
        TASK_CONTENT,
        GROUPID,
        PGROUPID,
        BCRWID,
        FKID,
        YJRWID,
        FQR_LXFS,
        FQR,
        FQRNAME,
        JSR_LXFS,
        JSR,
        JSRNAME,
        FQ_TIME,
        FKJZ_TIME,
        FKZT,
        FK_TIME,
        CBZT,
        QSZT,
        QS_TIME,
        YJZT,
        YJ_TIME,
        CREATOR,
        CREATENAME,
        CREATETIME,
        DEPARMENTCODE,
        DEPARMENTNAME,
        LASTUPDATETIME,
        DELETEFLAG
        ) VALUES (
        #{id,jdbcType=VARCHAR},
        #{taskNo,jdbcType=VARCHAR},
        #{taskName,jdbcType=VARCHAR},
        #{taskContent,jdbcType=VARCHAR},
        #{groupid,jdbcType=VARCHAR},
        #{pgroupid,jdbcType=VARCHAR},
        #{bcrwid,jdbcType=VARCHAR},
        #{fkid,jdbcType=VARCHAR},
        #{yjrwid,jdbcType=VARCHAR},
        #{fqrLxfs,jdbcType=VARCHAR},
        #{fqr,jdbcType=VARCHAR},
        #{fqrname,jdbcType=VARCHAR},
        #{jsrLxfs,jdbcType=VARCHAR},
        #{jsr,jdbcType=VARCHAR},
        #{jsrname,jdbcType=VARCHAR},
        #{fqTime,jdbcType=TIMESTAMP},
        #{fkjzTime,jdbcType=TIMESTAMP},
        #{fkzt,jdbcType=VARCHAR},
        #{fkTime,jdbcType=TIMESTAMP},
        #{cbzt,jdbcType=VARCHAR},
        #{qszt,jdbcType=VARCHAR},
        #{qsTime,jdbcType=TIMESTAMP},
        #{yjzt,jdbcType=VARCHAR},
        #{yjTime,jdbcType=TIMESTAMP},
        #{creator,jdbcType=VARCHAR},
        #{createname,jdbcType=VARCHAR},
        #{createtime,jdbcType=TIMESTAMP},
        #{deparmentcode,jdbcType=VARCHAR},
        #{deparmentname,jdbcType=VARCHAR},
        #{lastupdatetime,jdbcType=TIMESTAMP},
        #{deleteflag,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertNotNull" keyProperty="id" useGeneratedKeys="true" parameterType="com.hisign.xingzhen.xz.api.entity.Task">
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
            SELECT sys_guid() from DUAL
        </selectKey>
        insert into t_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null  and id != '' ">
                ID,
            </if>
            <if test="taskNo !=null  and taskNo != '' ">
                TASK_NO,
            </if>
            <if test="taskName !=null  and taskName != '' ">
                TASK_NAME,
            </if>
            <if test="taskContent !=null  and taskContent != '' ">
                TASK_CONTENT,
            </if>
            <if test="groupid !=null  and groupid != '' ">
                GROUPID,
            </if>
            <if test="pgroupid !=null  and pgroupid != '' ">
                PGROUPID,
            </if>
            <if test="bcrwid !=null  and bcrwid != '' ">
                BCRWID,
            </if>
            <if test="fkid !=null  and fkid != '' ">
                FKID,
            </if>
            <if test="yjrwid !=null  and yjrwid != '' ">
                YJRWID,
            </if>
            <if test="fqrLxfs !=null  and fqrLxfs != '' ">
                FQR_LXFS,
            </if>
            <if test="fqr !=null  and fqr != '' ">
                FQR,
            </if>
            <if test="fqrname !=null  and fqrname != '' ">
                FQRNAME,
            </if>
            <if test="jsrLxfs !=null  and jsrLxfs != '' ">
                JSR_LXFS,
            </if>
            <if test="jsr !=null  and jsr != '' ">
                JSR,
            </if>
            <if test="jsrname !=null  and jsrname != '' ">
                JSRNAME,
            </if>
            <if test="fqTime !=null ">
                FQ_TIME,
            </if>
            <if test="fkjzTime !=null ">
                FKJZ_TIME,
            </if>
            <if test="fkzt !=null  and fkzt != '' ">
                FKZT,
            </if>
            <if test="fkTime !=null ">
                FK_TIME,
            </if>
            <if test="cbzt !=null  and cbzt != '' ">
                CBZT,
            </if>
            <if test="qszt !=null  and qszt != '' ">
                QSZT,
            </if>
            <if test="qsTime !=null ">
                QS_TIME,
            </if>
            <if test="yjzt !=null  and yjzt != '' ">
                YJZT,
            </if>
            <if test="yjTime !=null ">
                YJ_TIME,
            </if>
            <if test="creator !=null  and creator != '' ">
                CREATOR,
            </if>
            <if test="createname !=null  and createname != '' ">
                CREATENAME,
            </if>
            <if test="createtime !=null ">
                CREATETIME,
            </if>
            <if test="deparmentcode !=null  and deparmentcode != '' ">
                DEPARMENTCODE,
            </if>
            <if test="deparmentname !=null  and deparmentname != '' ">
                DEPARMENTNAME,
            </if>
            <if test="lastupdatetime !=null ">
                LASTUPDATETIME,
            </if>
            <if test="deleteflag !=null  and deleteflag != '' ">
                DELETEFLAG
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null  and id != '' ">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="taskNo !=null  and taskNo != '' ">
                #{taskNo,jdbcType=VARCHAR},
            </if>
            <if test="taskName !=null  and taskName != '' ">
                #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="taskContent !=null  and taskContent != '' ">
                #{taskContent,jdbcType=VARCHAR},
            </if>
            <if test="groupid !=null  and groupid != '' ">
                #{groupid,jdbcType=VARCHAR},
            </if>
            <if test="pgroupid !=null  and pgroupid != '' ">
                #{pgroupid,jdbcType=VARCHAR},
            </if>
            <if test="bcrwid !=null  and bcrwid != '' ">
                #{bcrwid,jdbcType=VARCHAR},
            </if>
            <if test="fkid !=null  and fkid != '' ">
                #{fkid,jdbcType=VARCHAR},
            </if>
            <if test="yjrwid !=null  and yjrwid != '' ">
                #{yjrwid,jdbcType=VARCHAR},
            </if>
            <if test="fqrLxfs !=null  and fqrLxfs != '' ">
                #{fqrLxfs,jdbcType=VARCHAR},
            </if>
            <if test="fqr !=null  and fqr != '' ">
                #{fqr,jdbcType=VARCHAR},
            </if>
            <if test="fqrname !=null  and fqrname != '' ">
                #{fqrname,jdbcType=VARCHAR},
            </if>
            <if test="jsrLxfs !=null  and jsrLxfs != '' ">
                #{jsrLxfs,jdbcType=VARCHAR},
            </if>
            <if test="jsr !=null  and jsr != '' ">
                #{jsr,jdbcType=VARCHAR},
            </if>
            <if test="jsrname !=null  and jsrname != '' ">
                #{jsrname,jdbcType=VARCHAR},
            </if>
            <if test="fqTime !=null ">
                #{fqTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fkjzTime !=null ">
                #{fkjzTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fkzt !=null  and fkzt != '' ">
                #{fkzt,jdbcType=VARCHAR},
            </if>
            <if test="fkTime !=null ">
                #{fkTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cbzt !=null  and cbzt != '' ">
                #{cbzt,jdbcType=VARCHAR},
            </if>
            <if test="qszt !=null  and qszt != '' ">
                #{qszt,jdbcType=VARCHAR},
            </if>
            <if test="qsTime !=null ">
                #{qsTime,jdbcType=TIMESTAMP},
            </if>
            <if test="yjzt !=null  and yjzt != '' ">
                #{yjzt,jdbcType=VARCHAR},
            </if>
            <if test="yjTime !=null ">
                #{yjTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator !=null  and creator != '' ">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createname !=null  and createname != '' ">
                #{createname,jdbcType=VARCHAR},
            </if>
            <if test="createtime !=null ">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="deparmentcode !=null  and deparmentcode != '' ">
                #{deparmentcode,jdbcType=VARCHAR},
            </if>
            <if test="deparmentname !=null  and deparmentname != '' ">
                #{deparmentname,jdbcType=VARCHAR},
            </if>
            <if test="lastupdatetime !=null ">
                #{lastupdatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteflag !=null  and deleteflag != '' ">
                #{deleteflag,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO t_task (
        ID,
        TASK_NO,
        TASK_NAME,
        TASK_CONTENT,
        GROUPID,
        PGROUPID,
        BCRWID,
        FKID,
        YJRWID,
        FQR_LXFS,
        FQR,
        FQRNAME,
        JSR_LXFS,
        JSR,
        JSRNAME,
        FQ_TIME,
        FKJZ_TIME,
        FKZT,
        FK_TIME,
        CBZT,
        QSZT,
        QS_TIME,
        YJZT,
        YJ_TIME,
        CREATOR,
        CREATENAME,
        CREATETIME,
        DEPARMENTCODE,
        DEPARMENTNAME,
        LASTUPDATETIME,
        DELETEFLAG
        )
        <foreach collection="list" open="(" close=")" item="item" index="index" separator="union all" >
            select
            #{item.id,jdbcType=VARCHAR},
            #{item.taskNo,jdbcType=VARCHAR},
            #{item.taskName,jdbcType=VARCHAR},
            #{item.taskContent,jdbcType=VARCHAR},
            #{item.groupid,jdbcType=VARCHAR},
            #{item.pgroupid,jdbcType=VARCHAR},
            #{item.bcrwid,jdbcType=VARCHAR},
            #{item.fkid,jdbcType=VARCHAR},
            #{item.yjrwid,jdbcType=VARCHAR},
            #{item.fqrLxfs,jdbcType=VARCHAR},
            #{item.fqr,jdbcType=VARCHAR},
            #{item.fqrname,jdbcType=VARCHAR},
            #{item.jsrLxfs,jdbcType=VARCHAR},
            #{item.jsr,jdbcType=VARCHAR},
            #{item.jsrname,jdbcType=VARCHAR},
            #{item.fqTime,jdbcType=TIMESTAMP},
            #{item.fkjzTime,jdbcType=TIMESTAMP},
            #{item.fkzt,jdbcType=VARCHAR},
            #{item.fkTime,jdbcType=TIMESTAMP},
            #{item.cbzt,jdbcType=VARCHAR},
            #{item.qszt,jdbcType=VARCHAR},
            #{item.qsTime,jdbcType=TIMESTAMP},
            #{item.yjzt,jdbcType=VARCHAR},
            #{item.yjTime,jdbcType=TIMESTAMP},
            #{item.creator,jdbcType=VARCHAR},
            #{item.createname,jdbcType=VARCHAR},
            #{item.createtime,jdbcType=TIMESTAMP},
            #{item.deparmentcode,jdbcType=VARCHAR},
            #{item.deparmentname,jdbcType=VARCHAR},
            #{item.lastupdatetime,jdbcType=TIMESTAMP},
            #{item.deleteflag,jdbcType=VARCHAR}
            from dual
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.hisign.xingzhen.xz.api.entity.Task">
        UPDATE t_task
        <trim prefix="SET" suffixOverrides=",">
            TASK_NO=#{taskNo,jdbcType=VARCHAR},
            TASK_NAME=#{taskName,jdbcType=VARCHAR},
            TASK_CONTENT=#{taskContent,jdbcType=VARCHAR},
            GROUPID=#{groupid,jdbcType=VARCHAR},
            PGROUPID=#{pgroupid,jdbcType=VARCHAR},
            BCRWID=#{bcrwid,jdbcType=VARCHAR},
            FKID=#{fkid,jdbcType=VARCHAR},
            YJRWID=#{yjrwid,jdbcType=VARCHAR},
            FQR_LXFS=#{fqrLxfs,jdbcType=VARCHAR},
            FQR=#{fqr,jdbcType=VARCHAR},
            FQRNAME=#{fqrname,jdbcType=VARCHAR},
            JSR_LXFS=#{jsrLxfs,jdbcType=VARCHAR},
            JSR=#{jsr,jdbcType=VARCHAR},
            JSRNAME=#{jsrname,jdbcType=VARCHAR},
            FQ_TIME=#{fqTime,jdbcType=TIMESTAMP},
            FKJZ_TIME=#{fkjzTime,jdbcType=TIMESTAMP},
            FKZT=#{fkzt,jdbcType=VARCHAR},
            FK_TIME=#{fkTime,jdbcType=TIMESTAMP},
            CBZT=#{cbzt,jdbcType=VARCHAR},
            QSZT=#{qszt,jdbcType=VARCHAR},
            QS_TIME=#{qsTime,jdbcType=TIMESTAMP},
            YJZT=#{yjzt,jdbcType=VARCHAR},
            YJ_TIME=#{yjTime,jdbcType=TIMESTAMP},
            CREATOR=#{creator,jdbcType=VARCHAR},
            CREATENAME=#{createname,jdbcType=VARCHAR},
            CREATETIME=#{createtime,jdbcType=TIMESTAMP},
            DEPARMENTCODE=#{deparmentcode,jdbcType=VARCHAR},
            DEPARMENTNAME=#{deparmentname,jdbcType=VARCHAR},
            LASTUPDATETIME=#{lastupdatetime,jdbcType=TIMESTAMP},
            DELETEFLAG=#{deleteflag,jdbcType=VARCHAR}
        </trim>
        WHERE
        ID = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateNotNull" parameterType="com.hisign.xingzhen.xz.api.entity.Task">
        UPDATE t_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskNo !=null  and taskNo != '' ">
                TASK_NO = #{taskNo,jdbcType=VARCHAR},
            </if>
            <if test="taskName !=null  and taskName != '' ">
                TASK_NAME = #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="taskContent !=null  and taskContent != '' ">
                TASK_CONTENT = #{taskContent,jdbcType=VARCHAR},
            </if>
            <if test="groupid !=null  and groupid != '' ">
                GROUPID = #{groupid,jdbcType=VARCHAR},
            </if>
            <if test="pgroupid !=null  and pgroupid != '' ">
                PGROUPID = #{pgroupid,jdbcType=VARCHAR},
            </if>
            <if test="bcrwid !=null  and bcrwid != '' ">
                BCRWID = #{bcrwid,jdbcType=VARCHAR},
            </if>
            <if test="fkid !=null  and fkid != '' ">
                FKID = #{fkid,jdbcType=VARCHAR},
            </if>
            <if test="yjrwid !=null  and yjrwid != '' ">
                YJRWID = #{yjrwid,jdbcType=VARCHAR},
            </if>
            <if test="fqrLxfs !=null  and fqrLxfs != '' ">
                FQR_LXFS = #{fqrLxfs,jdbcType=VARCHAR},
            </if>
            <if test="fqr !=null  and fqr != '' ">
                FQR = #{fqr,jdbcType=VARCHAR},
            </if>
            <if test="fqrname !=null  and fqrname != '' ">
                FQRNAME = #{fqrname,jdbcType=VARCHAR},
            </if>
            <if test="jsrLxfs !=null  and jsrLxfs != '' ">
                JSR_LXFS = #{jsrLxfs,jdbcType=VARCHAR},
            </if>
            <if test="jsr !=null  and jsr != '' ">
                JSR = #{jsr,jdbcType=VARCHAR},
            </if>
            <if test="jsrname !=null  and jsrname != '' ">
                JSRNAME = #{jsrname,jdbcType=VARCHAR},
            </if>
            <if test="fqTime !=null ">
                FQ_TIME = #{fqTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fkjzTime !=null ">
                FKJZ_TIME = #{fkjzTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fkzt !=null  and fkzt != '' ">
                FKZT = #{fkzt,jdbcType=VARCHAR},
            </if>
            <if test="fkTime !=null ">
                FK_TIME = #{fkTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cbzt !=null  and cbzt != '' ">
                CBZT = #{cbzt,jdbcType=VARCHAR},
            </if>
            <if test="qszt !=null  and qszt != '' ">
                QSZT = #{qszt,jdbcType=VARCHAR},
            </if>
            <if test="qsTime !=null ">
                QS_TIME = #{qsTime,jdbcType=TIMESTAMP},
            </if>
            <if test="yjzt !=null  and yjzt != '' ">
                YJZT = #{yjzt,jdbcType=VARCHAR},
            </if>
            <if test="yjTime !=null ">
                YJ_TIME = #{yjTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator !=null  and creator != '' ">
                CREATOR = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createname !=null  and createname != '' ">
                CREATENAME = #{createname,jdbcType=VARCHAR},
            </if>
            <if test="createtime !=null ">
                CREATETIME = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="deparmentcode !=null  and deparmentcode != '' ">
                DEPARMENTCODE = #{deparmentcode,jdbcType=VARCHAR},
            </if>
            <if test="deparmentname !=null  and deparmentname != '' ">
                DEPARMENTNAME = #{deparmentname,jdbcType=VARCHAR},
            </if>
            <if test="lastupdatetime !=null ">
                LASTUPDATETIME = #{lastupdatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteflag !=null  and deleteflag != '' ">
                DELETEFLAG = #{deleteflag,jdbcType=VARCHAR}
            </if>
        </trim>
        WHERE ID = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateCustom" parameterType="com.hisign.bfun.bmodel.UpdateParams">
        UPDATE t_task
        <trim prefix="SET" suffixOverrides=",">
            <foreach collection="fields" item="item" index="index" separator="," >
                ${item}  #{values[${index}]}
            </foreach>
        </trim>
        <include refid="Update_Conditions_Where_Clause" />
        <if test="conditions!=null">
            <if test="conditions.orderByClause!=null"> ${conditions.orderByClause}</if>
        </if>
    </update>

    <!-- 按Id删除 -->
    <delete id="deleteById" parameterType="java.lang.String">
        DELETE FROM t_task WHERE
         ID = #{id,jdbcType=VARCHAR}
    </delete>

    <!--根据list(ids)删除对象-->
    <delete id="deleteByIds">
        DELETE FROM t_task
        WHERE id in
        <foreach collection="list" item="id" open="(" separator="," close=")">${id}</foreach>
    </delete>

    <!--根据自定义删除对象-->
    <delete id="deleteCustom" parameterType="com.hisign.bfun.bmodel.Conditions">
        DELETE FROM t_task
        <include refid="Conditions_Where_Clause" />
    </delete>

    <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_task
        WHERE
        ID = #{id,jdbcType=VARCHAR}
        and rownum = 1
    </select>

    <select id="findByEntity" parameterType="com.hisign.xingzhen.xz.api.entity.Task" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_task
        WHERE 1 = 1
        <if test="id != null  and id != '' ">
            and ID=#{id,jdbcType=VARCHAR}
        </if>
        <if test="taskNo != null  and taskNo != '' ">
            and TASK_NO=#{taskNo,jdbcType=VARCHAR}
        </if>
        <if test="taskName != null  and taskName != '' ">
            and TASK_NAME=#{taskName,jdbcType=VARCHAR}
        </if>
        <if test="taskContent != null  and taskContent != '' ">
            and TASK_CONTENT=#{taskContent,jdbcType=VARCHAR}
        </if>
        <if test="groupid != null  and groupid != '' ">
            and GROUPID=#{groupid,jdbcType=VARCHAR}
        </if>
        <if test="pgroupid != null  and pgroupid != '' ">
            and PGROUPID=#{pgroupid,jdbcType=VARCHAR}
        </if>
        <if test="bcrwid != null  and bcrwid != '' ">
            and BCRWID=#{bcrwid,jdbcType=VARCHAR}
        </if>
        <if test="fkid != null  and fkid != '' ">
            and FKID=#{fkid,jdbcType=VARCHAR}
        </if>
        <if test="yjrwid != null  and yjrwid != '' ">
            and YJRWID=#{yjrwid,jdbcType=VARCHAR}
        </if>
        <if test="fqrLxfs != null  and fqrLxfs != '' ">
            and FQR_LXFS=#{fqrLxfs,jdbcType=VARCHAR}
        </if>
        <if test="fqr != null  and fqr != '' ">
            and FQR=#{fqr,jdbcType=VARCHAR}
        </if>
        <if test="fqrname != null  and fqrname != '' ">
            and FQRNAME=#{fqrname,jdbcType=VARCHAR}
        </if>
        <if test="jsrLxfs != null  and jsrLxfs != '' ">
            and JSR_LXFS=#{jsrLxfs,jdbcType=VARCHAR}
        </if>
        <if test="jsr != null  and jsr != '' ">
            and JSR=#{jsr,jdbcType=VARCHAR}
        </if>
        <if test="jsrname != null  and jsrname != '' ">
            and JSRNAME=#{jsrname,jdbcType=VARCHAR}
        </if>
        <if test="fqTime != null ">
            and FQ_TIME=#{fqTime,jdbcType=TIMESTAMP}
        </if>
        <if test="fkjzTime != null ">
            and FKJZ_TIME=#{fkjzTime,jdbcType=TIMESTAMP}
        </if>
        <if test="fkzt != null  and fkzt != '' ">
            and FKZT=#{fkzt,jdbcType=VARCHAR}
        </if>
        <if test="fkTime != null ">
            and FK_TIME=#{fkTime,jdbcType=TIMESTAMP}
        </if>
        <if test="cbzt != null  and cbzt != '' ">
            and CBZT=#{cbzt,jdbcType=VARCHAR}
        </if>
        <if test="qszt != null  and qszt != '' ">
            and QSZT=#{qszt,jdbcType=VARCHAR}
        </if>
        <if test="qsTime != null ">
            and QS_TIME=#{qsTime,jdbcType=TIMESTAMP}
        </if>
        <if test="yjzt != null  and yjzt != '' ">
            and YJZT=#{yjzt,jdbcType=VARCHAR}
        </if>
        <if test="yjTime != null ">
            and YJ_TIME=#{yjTime,jdbcType=TIMESTAMP}
        </if>
        <if test="creator != null  and creator != '' ">
            and CREATOR=#{creator,jdbcType=VARCHAR}
        </if>
        <if test="createname != null  and createname != '' ">
            and CREATENAME=#{createname,jdbcType=VARCHAR}
        </if>
        <if test="createtime != null ">
            and CREATETIME=#{createtime,jdbcType=TIMESTAMP}
        </if>
        <if test="deparmentcode != null  and deparmentcode != '' ">
            and DEPARMENTCODE=#{deparmentcode,jdbcType=VARCHAR}
        </if>
        <if test="deparmentname != null  and deparmentname != '' ">
            and DEPARMENTNAME=#{deparmentname,jdbcType=VARCHAR}
        </if>
        <if test="lastupdatetime != null ">
            and LASTUPDATETIME=#{lastupdatetime,jdbcType=TIMESTAMP}
        </if>
        <if test="deleteflag != null  and deleteflag != '' ">
            and DELETEFLAG=#{deleteflag,jdbcType=VARCHAR}
        </if>
        and rownum = 1
    </select>

    <select id="findListByEntity" parameterType="com.hisign.xingzhen.xz.api.entity.Task" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_task
        WHERE 1 = 1
        <if test="id != null  and id != '' ">
            and ID=#{id,jdbcType=VARCHAR}
        </if>
        <if test="taskNo != null  and taskNo != '' ">
            and TASK_NO=#{taskNo,jdbcType=VARCHAR}
        </if>
        <if test="taskName != null  and taskName != '' ">
            and TASK_NAME=#{taskName,jdbcType=VARCHAR}
        </if>
        <if test="taskContent != null  and taskContent != '' ">
            and TASK_CONTENT=#{taskContent,jdbcType=VARCHAR}
        </if>
        <if test="groupid != null  and groupid != '' ">
            and GROUPID=#{groupid,jdbcType=VARCHAR}
        </if>
        <if test="pgroupid != null  and pgroupid != '' ">
            and PGROUPID=#{pgroupid,jdbcType=VARCHAR}
        </if>
        <if test="bcrwid != null  and bcrwid != '' ">
            and BCRWID=#{bcrwid,jdbcType=VARCHAR}
        </if>
        <if test="fkid != null  and fkid != '' ">
            and FKID=#{fkid,jdbcType=VARCHAR}
        </if>
        <if test="yjrwid != null  and yjrwid != '' ">
            and YJRWID=#{yjrwid,jdbcType=VARCHAR}
        </if>
        <if test="fqrLxfs != null  and fqrLxfs != '' ">
            and FQR_LXFS=#{fqrLxfs,jdbcType=VARCHAR}
        </if>
        <if test="fqr != null  and fqr != '' ">
            and FQR=#{fqr,jdbcType=VARCHAR}
        </if>
        <if test="fqrname != null  and fqrname != '' ">
            and FQRNAME=#{fqrname,jdbcType=VARCHAR}
        </if>
        <if test="jsrLxfs != null  and jsrLxfs != '' ">
            and JSR_LXFS=#{jsrLxfs,jdbcType=VARCHAR}
        </if>
        <if test="jsr != null  and jsr != '' ">
            and JSR=#{jsr,jdbcType=VARCHAR}
        </if>
        <if test="jsrname != null  and jsrname != '' ">
            and JSRNAME=#{jsrname,jdbcType=VARCHAR}
        </if>
        <if test="fqTime != null ">
            and FQ_TIME=#{fqTime,jdbcType=TIMESTAMP}
        </if>
        <if test="fkjzTime != null ">
            and FKJZ_TIME=#{fkjzTime,jdbcType=TIMESTAMP}
        </if>
        <if test="fkzt != null  and fkzt != '' ">
            and FKZT=#{fkzt,jdbcType=VARCHAR}
        </if>
        <if test="fkTime != null ">
            and FK_TIME=#{fkTime,jdbcType=TIMESTAMP}
        </if>
        <if test="cbzt != null  and cbzt != '' ">
            and CBZT=#{cbzt,jdbcType=VARCHAR}
        </if>
        <if test="qszt != null  and qszt != '' ">
            and QSZT=#{qszt,jdbcType=VARCHAR}
        </if>
        <if test="qsTime != null ">
            and QS_TIME=#{qsTime,jdbcType=TIMESTAMP}
        </if>
        <if test="yjzt != null  and yjzt != '' ">
            and YJZT=#{yjzt,jdbcType=VARCHAR}
        </if>
        <if test="yjTime != null ">
            and YJ_TIME=#{yjTime,jdbcType=TIMESTAMP}
        </if>
        <if test="creator != null  and creator != '' ">
            and CREATOR=#{creator,jdbcType=VARCHAR}
        </if>
        <if test="createname != null  and createname != '' ">
            and CREATENAME=#{createname,jdbcType=VARCHAR}
        </if>
        <if test="createtime != null ">
            and CREATETIME=#{createtime,jdbcType=TIMESTAMP}
        </if>
        <if test="deparmentcode != null  and deparmentcode != '' ">
            and DEPARMENTCODE=#{deparmentcode,jdbcType=VARCHAR}
        </if>
        <if test="deparmentname != null  and deparmentname != '' ">
            and DEPARMENTNAME=#{deparmentname,jdbcType=VARCHAR}
        </if>
        <if test="lastupdatetime != null ">
            and LASTUPDATETIME=#{lastupdatetime,jdbcType=TIMESTAMP}
        </if>
        <if test="deleteflag != null  and deleteflag != '' ">
            and DELETEFLAG=#{deleteflag,jdbcType=VARCHAR}
        </if>
        <if test="orderBy!=null and orderBy!=''">
            order by ${orderBy}
            <if test="isDesc==true">
                DESC
            </if>
        </if>
    </select>

    <select id="findByCondition" parameterType="com.hisign.bfun.bmodel.Conditions" resultMap="BaseResultMap">
        SELECT
        <choose>
            <when test="returnFields != null">
                <foreach collection="returnFields" item="f" separator=",">${f}</foreach>
            </when>
            <otherwise>
                <include refid="Base_Column_List" />
            </otherwise>
        </choose>
        FROM t_task
        <if test="connectTable!=null">
            <foreach collection="connectTable" item="tb">
                ,${tb}
            </foreach>
        </if>
        <include refid="Conditions_Where_Clause" />
        and rownum = 1
    </select>

    <select id="findList"  parameterType="com.hisign.bfun.bmodel.Conditions" resultMap="BaseResultMap">
        select p.* from(
        select
        rownum,rownum as rn,a.* from (
        select t.* from (

        SELECT
        <if test="distinct!=false">
            DISTINCT
        </if>
        <choose>
            <when test="returnFields != null">
                <foreach collection="returnFields" item="f" separator=",">${f}</foreach>
            </when>
            <otherwise>
                <include refid="Base_Column_List" />
            </otherwise>
        </choose>
        FROM t_task
        <if test="connectTable!=null">
            <foreach collection="connectTable" item="tb">
                ,${tb}
            </foreach>
        </if>
        <include refid="Conditions_Where_Clause" />
        <if test="orderByClause!=null">${orderByClause}</if>

        ) t ) a
        <if test="end !=null and end !=0">
            where rownum <![CDATA[<=]]> #{end,jdbcType=INTEGER}
        </if>
        ) p
        <if test="begin !=null and begin !=0">
            where rn >= #{begin,jdbcType=INTEGER}
        </if>
    </select>

    <select id="findCount" parameterType="com.hisign.bfun.bmodel.Conditions" resultType="java.lang.Long">
        SELECT
        COUNT(1)
        FROM t_task
        <if test="connectTable!=null">
            <foreach collection="connectTable" item="tb">
                ,${tb}
            </foreach>
        </if>
        <include refid="Conditions_Where_Clause" />
    </select>

    <select id="findMaxId" resultType="java.lang.String">
        SELECT
        MAX(id)
        FROM t_task
    </select>

    <!--========================================以上为生成器生成,新加代码请在下面书写============================================================-->

    <select id="findMaxNo" parameterType="java.lang.String" resultType="java.lang.String" >
        SELECT substr(TASK_NO,19) as TASK_NO FROM (
            SELECT TASK_NO FROM t_task t
            WHERE TASK_NO is not NULL AND SUBSTR (TASK_NO, 15,4)=TO_CHAR(SYSDATE,'YYYY')
            AND  SUBSTR (TASK_NO, 3,12)=#{deparmentcode,jdbcType=VARCHAR}
            ORDER BY SUBSTR (TASK_NO, 19) DESC
        )  	where ROWNUM=1
	</select>

    <select id="findTaskByEntity" parameterType="com.hisign.xingzhen.xz.api.entity.Task" resultMap="BaseResultMap">
        select p.*,
        (select count(1) from T_TASK_FK fk where fk.taskid=p.id and qrzt='0' and deleteFlag='0') as noFkqrCount,
        (select count(1) from T_TASK_FK fk where fk.taskid=p.id and deleteFlag='0') as fkCount,
        (select groupName from T_GROUP g where g.id=p.groupid and deleteFlag='0') as groupName from(
        select rownum as rn,q.* from (
        select t.* from T_TASK  t where t.deleteFlag='0'
        <choose>
            <when test="userId != null and userId !=''">
                and (
                exists (select 1 from T_USERGROUP ug where ug.groupId=t.groupId and ug.userId=#{userId,jdbcType=VARCHAR})
                or
                exists (select 1 from T_GROUP g where g.id=t.groupId and g.creator=#{userId,jdbcType=VARCHAR})
                )
                <if test='taskType=="1"'>
                    and t.jsr=#{userId,jdbcType=VARCHAR}
                </if>
                <if test='taskType=="2"'>
                    and t.fqr=#{userId,jdbcType=VARCHAR}
                </if>
                <if test="taskName !=null and taskName !=''">
                    and t.task_name like '%'||#{taskName,jdbcType=VARCHAR}||'%' escape '\'
                </if>
                <if test="groupid !=null and groupid !=''">
                    and t.groupid=#{groupid,jdbcType=VARCHAR}
                </if>
                <if test="creator !=null and creator !=''">
                    and t.creator=#{creator,jdbcType=VARCHAR}
                </if>
                <if test="jsr !=null and jsr !=''">
                    and t.jsr=#{jsr,jdbcType=VARCHAR}
                </if>
                <if test="startTime!=null and endTime!=null">
                    and t.createtime between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
                </if>
                <if test="fkzt!=null and fkzt!=''">
                    and t.fkzt=#{fkzt,jdbcType=VARCHAR}
                </if>
                <if test="yjzt!=null and yjzt!=''">
                    and t.yjzt=#{yjzt,jdbcType=VARCHAR}
                </if>
                <if test='overdue=="1"'>
                    and t.fkzt=0 and to_char(sysdate,'yyyyMMdd')>to_char(t.fkjz_time,'yyyyMMdd')
                </if>
                <if test='fkqrzt=="0"'>
                    and exists (select 1 from T_TASK_FK fk where fk.taskid=t.id and fk.qrzt='0')
                </if>
                <if test='fkqrzt=="1"'>
                    and exists (select 1 from T_TASK_FK fk where fk.taskid=t.id and fk.qrzt='1')
                </if>
                <if test="taskNo!=null and taskNo!=''">
                    and t.task_no like '%'||#{taskNo,jdbcType=VARCHAR}||'%' escape '\'
                </if>
                <if test="deparmentcode!=null and deparmentcode!=''">
                    and t.deparmentcode=#{deparmentcode,jdbcType=VARCHAR}
                </if>
                <if test="fkjzstartTime!=null and fkjzendTime!=null">
                    and t.fkjz_time between #{fkjzstartTime,jdbcType=TIMESTAMP} and #{fkjzendTime,jdbcType=TIMESTAMP}
                </if>
            </when>
            <otherwise>
                and 1=2
            </otherwise>
        </choose>
        <if test="orderBy!=null and orderBy!=''">
            order by ${orderBy}
            <if test="isDesc==true">
                DESC
            </if>
        </if>
        ) q
        <if test="end !=null and end !=0">
            where rownum <![CDATA[<=]]> #{end,jdbcType=INTEGER}
        </if>
        ) p
        <if test="begin !=null and begin !=0">
            where rn <![CDATA[>=]]> #{begin,jdbcType=INTEGER}
        </if>
    </select>

    <select id="findCountTaskByEntity" parameterType="com.hisign.xingzhen.xz.api.entity.Task" resultType="java.lang.Long">
        select count(1) from T_TASK t where deleteFlag='0'
        <choose>
            <when test="userId != null and userId !=''">
                and (
                exists (select 1 from T_USERGROUP ug where ug.groupId=t.groupId and ug.userId=#{userId,jdbcType=VARCHAR})
                or
                exists (select 1 from T_GROUP g where g.id=t.groupId and g.creator=#{userId,jdbcType=VARCHAR})
                )
                <if test='taskType=="1"'>
                    and t.jsr=#{userId,jdbcType=VARCHAR}
                </if>
                <if test='taskType=="2"'>
                    and t.fqr=#{userId,jdbcType=VARCHAR}
                </if>
                <if test="taskName !=null and taskName !=''">
                    and t.task_name like '%'||#{taskName,jdbcType=VARCHAR}||'%' escape '\'
                </if>
                <if test="groupid !=null and groupid !=''">
                    and t.groupid=#{groupid,jdbcType=VARCHAR}
                </if>
                <if test="creator !=null and creator !=''">
                    and t.creator=#{creator,jdbcType=VARCHAR}
                </if>
                <if test="jsr !=null and jsr !=''">
                    and t.jsr=#{jsr,jdbcType=VARCHAR}
                </if>
                <if test="startTime!=null and endTime!=null">
                    and t.createtime between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
                </if>
                <if test="fkzt!=null and fkzt!=''">
                    and t.fkzt=#{fkzt,jdbcType=VARCHAR}
                </if>
                <if test="yjzt!=null and yjzt!=''">
                    and t.yjzt=#{yjzt,jdbcType=VARCHAR}
                </if>
                <if test='overdue=="1"'>
                    and t.fkzt=0 and to_char(sysdate,'yyyyMMdd')>to_char(t.fkjz_time,'yyyyMMdd')
                </if>
                <if test='fkqrzt=="0"'>
                    and exists (select 1 from T_TASK_FK fk where fk.taskid=t.id and fk.qrzt='0')
                </if>
                <if test='fkqrzt=="1"'>
                    and exists (select 1 from T_TASK_FK fk where fk.taskid=t.id and fk.qrzt='1')
                </if>
                <if test="taskNo!=null and taskNo!=''">
                    and t.task_no like '%'||#{taskNo,jdbcType=VARCHAR}||'%' escape '\'
                </if>
                <if test="deparmentcode!=null and deparmentcode!=''">
                    and t.deparmentcode=#{deparmentcode,jdbcType=VARCHAR}
                </if>
                <if test="fkjzstartTime!=null and fkjzendTime!=null">
                    and t.fkjz_time between #{fkjzstartTime,jdbcType=TIMESTAMP} and #{fkjzendTime,jdbcType=TIMESTAMP}
                </if>
            </when>
            <otherwise>
                and 1=2
            </otherwise>
        </choose>
    </select>

    <select id="findTaskById" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        ID,
        TASK_NO,
        TASK_NAME,
        TASK_CONTENT,
        GROUPID,
        (select groupName from T_GROUP g where g.id=t.groupid and deleteFlag='0') as groupName,
        PGROUPID,
        BCRWID,
        FKID,
        YJRWID,
        FQR_LXFS,
        FQR,
        FQRNAME,
        JSR_LXFS,
        JSR,
        JSRNAME,
        FQ_TIME,
        FKJZ_TIME,
        FKZT,
        FK_TIME,
        CBZT,
        QSZT,
        QS_TIME,
        YJZT,
        YJ_TIME,
        CREATOR,
        CREATENAME,
        CREATETIME,
        DEPARMENTCODE,
        DEPARMENTNAME,
        LASTUPDATETIME,
        DELETEFLAG
        FROM t_task t
        WHERE
        ID = #{id,jdbcType=VARCHAR}
        and rownum = 1
    </select>
</mapper>