<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hisign.xingzhen.xz.mapper.UsergroupMapper">
    <resultMap type="com.hisign.xingzhen.xz.api.model.UsergroupModel" id="BaseResultMap">
        <result column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="USERID" property="userid" jdbcType="VARCHAR"/>
        <result column="USERNAME" property="username" jdbcType="VARCHAR"/>
        <result column="JH" property="jh" jdbcType="VARCHAR"/>
        <result column="GROUPID" property="groupid" jdbcType="VARCHAR"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="DEPARMENTCODE" property="deparmentcode" jdbcType="VARCHAR"/>
        <result column="LASTUPDATETIME" property="lastupdatetime" jdbcType="TIMESTAMP"/>
        <result column="DELETEFLAG" property="deleteflag" jdbcType="VARCHAR"/>
    </resultMap>

	<resultMap id="SysUserInfoResultMap" type="com.hisign.xingzhen.sys.api.model.SysUserInfo">
        <result column="ID" jdbcType="VARCHAR" property="id" />
        <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
		<result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
		<result column="POLICE_ID" jdbcType="VARCHAR" property="policeId" />
		<result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
		<result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
		<result column="SEX" jdbcType="DECIMAL" property="sex" />
		<result column="CID" jdbcType="VARCHAR" property="cid" />
		<result column="PHONE" jdbcType="VARCHAR" property="phone" />
		<result column="AVATAR" jdbcType="VARCHAR" property="avatar" />
		<result column="POST" jdbcType="VARCHAR" property="post" />
		<result column="POST_NAME" jdbcType="VARCHAR" property="postName" />
		<result column="BIRTH" jdbcType="TIMESTAMP" property="birth" />
		<result column="ADDRESS" jdbcType="VARCHAR" property="address" />
		<result column="NOTE" jdbcType="VARCHAR" property="note" />
		<result column="STATUS" jdbcType="DECIMAL" property="status" />
		<result column="CREATE_PID" jdbcType="VARCHAR" property="createPid" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="MODIFY_PID" jdbcType="VARCHAR" property="modifyPid" />
		<result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>

    <sql id="Conditions_Where_Clause">
        <foreach collection="oredCriteria" open="where" item="o" separator="or">
            <if test="o.valid">
                (
                <trim suffixOverrides="and">
                    <foreach collection="o.criteriaWithoutValue" item="oc" separator=" and ">${oc} and </foreach>
                    <foreach collection="o.criteriaWithSingleValue" item="os">${os.condition} #{os.val} and </foreach>
                    <foreach collection="o.criteriaWithBetweenValue" item="ob">${ob.condition} #{ob.val[0]} and #{ob.val[1]} and </foreach>
                    <foreach collection="o.criteriaWithListValue" item="ol" separator=" and ">${ol.condition}
                        <foreach collection="ol.val" open="(" close=")" item="olv" separator=",">#{olv}</foreach>
                    </foreach>
                </trim>
                )
            </if>
        </foreach>
    </sql>

    <sql id="Update_Conditions_Where_Clause">
        <if test="conditions!=null">
            <foreach collection="conditions.oredCriteria" open="where" item="o" separator="or">
                <if test="o.valid">
                    (
                    <trim suffixOverrides="and">
                        <foreach collection="o.criteriaWithoutValue" item="oc" separator="and">${oc} and </foreach>
                        <foreach collection="o.criteriaWithSingleValue" item="os">${os.condition} #{os.val} and </foreach>
                        <foreach collection="o.criteriaWithBetweenValue" item="ob">${ob.condition} #{ob.val[0]} and #{ob.val[1]} and</foreach>
                        <foreach collection="o.criteriaWithListValue" item="ol">${ol.condition}
                            <foreach collection="ol.val" open="(" close=")" item="olv" separator=",">#{olv}</foreach>
                        </foreach>
                    </trim>
                    )
                </if>
            </foreach>
        </if>
    </sql>

    <sql id="Base_Column_List">
        ID,
        USERID,
        USERNAME,
        JH,
        GROUPID,
        CREATOR,
        CREATETIME,
        DEPARMENTCODE,
        LASTUPDATETIME,
        DELETEFLAG
    </sql>

    <insert id="insert" parameterType="com.hisign.xingzhen.xz.api.entity.Usergroup">
        INSERT INTO t_usergroup (
        ID,
        USERID,
        USERNAME,
        JH,
        GROUPID,
        CREATOR,
        CREATETIME,
        DEPARMENTCODE,
        LASTUPDATETIME,
        DELETEFLAG
        ) VALUES (
        #{id,jdbcType=VARCHAR},
        #{userid,jdbcType=VARCHAR},
        #{username,jdbcType=VARCHAR},
        #{jh,jdbcType=VARCHAR},
        #{groupid,jdbcType=VARCHAR},
        #{creator,jdbcType=VARCHAR},
        #{createtime,jdbcType=TIMESTAMP},
        #{deparmentcode,jdbcType=VARCHAR},
        #{lastupdatetime,jdbcType=TIMESTAMP},
        #{deleteflag,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertNotNull" parameterType="com.hisign.xingzhen.xz.api.entity.Usergroup">
        insert into t_usergroup
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null  and id != '' ">
                ID,
            </if>
            <if test="userid !=null  and userid != '' ">
                USERID,
            </if>
            <if test="username !=null  and username != '' ">
                USERNAME,
            </if>
            <if test="jh !=null  and jh != '' ">
                JH,
            </if>
            <if test="groupid !=null  and groupid != '' ">
                GROUPID,
            </if>
            <if test="creator !=null  and creator != '' ">
                CREATOR,
            </if>
            <if test="createtime !=null ">
                CREATETIME,
            </if>
            <if test="deparmentcode !=null  and deparmentcode != '' ">
                DEPARMENTCODE,
            </if>
            <if test="lastupdatetime !=null ">
                LASTUPDATETIME,
            </if>
            <if test="deleteflag !=null  and deleteflag != '' ">
                DELETEFLAG
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null  and id != '' ">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userid !=null  and userid != '' ">
                #{userid,jdbcType=VARCHAR},
            </if>
            <if test="username !=null  and username != '' ">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="jh !=null  and jh != '' ">
                #{jh,jdbcType=VARCHAR},
            </if>
            <if test="groupid !=null  and groupid != '' ">
                #{groupid,jdbcType=VARCHAR},
            </if>
            <if test="creator !=null  and creator != '' ">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createtime !=null ">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="deparmentcode !=null  and deparmentcode != '' ">
                #{deparmentcode,jdbcType=VARCHAR},
            </if>
            <if test="lastupdatetime !=null ">
                #{lastupdatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteflag !=null  and deleteflag != '' ">
                #{deleteflag,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO t_usergroup (
        ID,
        USERID,
        USERNAME,
        JH,
        GROUPID,
        CREATOR,
        CREATETIME,
        DEPARMENTCODE,
        LASTUPDATETIME,
        DELETEFLAG
        )
        <foreach collection="list" open="(" close=")" item="item" index="index" separator="union all" >
            select
            #{item.id,jdbcType=VARCHAR},
            #{item.userid,jdbcType=VARCHAR},
            #{item.username,jdbcType=VARCHAR},
            #{item.jh,jdbcType=VARCHAR},
            #{item.groupid,jdbcType=VARCHAR},
            #{item.creator,jdbcType=VARCHAR},
            #{item.createtime,jdbcType=TIMESTAMP},
            #{item.deparmentcode,jdbcType=VARCHAR},
            #{item.lastupdatetime,jdbcType=TIMESTAMP},
            #{item.deleteflag,jdbcType=VARCHAR}
            from dual
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.hisign.xingzhen.xz.api.entity.Usergroup">
        UPDATE t_usergroup
        <trim prefix="SET" suffixOverrides=",">
            USERID=#{userid,jdbcType=VARCHAR},
            USERNAME=#{username,jdbcType=VARCHAR},
            JH=#{jh,jdbcType=VARCHAR},
            GROUPID=#{groupid,jdbcType=VARCHAR},
            CREATOR=#{creator,jdbcType=VARCHAR},
            CREATETIME=#{createtime,jdbcType=TIMESTAMP},
            DEPARMENTCODE=#{deparmentcode,jdbcType=VARCHAR},
            LASTUPDATETIME=#{lastupdatetime,jdbcType=TIMESTAMP},
            DELETEFLAG=#{deleteflag,jdbcType=VARCHAR}
        </trim>
        WHERE
        ID = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateNotNull" parameterType="com.hisign.xingzhen.xz.api.entity.Usergroup">
        UPDATE t_usergroup
        <trim prefix="SET" suffixOverrides=",">
            <if test="userid !=null  and userid != '' ">
                USERID = #{userid,jdbcType=VARCHAR},
            </if>
            <if test="username !=null  and username != '' ">
                USERNAME = #{username,jdbcType=VARCHAR},
            </if>
            <if test="jh !=null  and jh != '' ">
                JH = #{jh,jdbcType=VARCHAR},
            </if>
            <if test="groupid !=null  and groupid != '' ">
                GROUPID = #{groupid,jdbcType=VARCHAR},
            </if>
            <if test="creator !=null  and creator != '' ">
                CREATOR = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createtime !=null ">
                CREATETIME = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="deparmentcode !=null  and deparmentcode != '' ">
                DEPARMENTCODE = #{deparmentcode,jdbcType=VARCHAR},
            </if>
            <if test="lastupdatetime !=null ">
                LASTUPDATETIME = #{lastupdatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteflag !=null  and deleteflag != '' ">
                DELETEFLAG = #{deleteflag,jdbcType=VARCHAR}
            </if>
        </trim>
        WHERE ID = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateCustom" parameterType="com.hisign.bfun.bmodel.UpdateParams">
        UPDATE t_usergroup
        <trim prefix="SET" suffixOverrides=",">
            <foreach collection="fields" item="item" index="index" separator="," >
                ${item}  #{values[${index}]}
            </foreach>
        </trim>
        <include refid="Update_Conditions_Where_Clause" />
        <if test="conditions!=null">
            <if test="conditions.orderByClause!=null"> ${conditions.orderByClause}</if>
        </if>
    </update>

    <!-- 按Id删除 -->
    <delete id="deleteById" parameterType="java.lang.String">
        DELETE FROM t_usergroup WHERE
         ID = #{id,jdbcType=VARCHAR}
    </delete>

    <!--根据list(ids)删除对象-->
    <delete id="deleteByIds">
        DELETE FROM t_usergroup
        WHERE id in
        <foreach collection="list" item="id" open="(" separator="," close=")">${id}</foreach>
    </delete>

    <!--根据自定义删除对象-->
    <delete id="deleteCustom" parameterType="com.hisign.bfun.bmodel.Conditions">
        DELETE FROM t_usergroup
        <include refid="Conditions_Where_Clause" />
    </delete>

    <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_usergroup
        WHERE
        ID = #{id,jdbcType=VARCHAR}
        and rownum = 1
    </select>

    <select id="findByEntity" parameterType="com.hisign.xingzhen.xz.api.entity.Usergroup" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_usergroup
        WHERE 1 = 1
        <if test="id != null  and id != '' ">
            and ID=#{id,jdbcType=VARCHAR}
        </if>
        <if test="userid != null  and userid != '' ">
            and USERID=#{userid,jdbcType=VARCHAR}
        </if>
        <if test="username != null  and username != '' ">
            and USERNAME=#{username,jdbcType=VARCHAR}
        </if>
        <if test="jh != null  and jh != '' ">
            and JH=#{jh,jdbcType=VARCHAR}
        </if>
        <if test="groupid != null  and groupid != '' ">
            and GROUPID=#{groupid,jdbcType=VARCHAR}
        </if>
        <if test="creator != null  and creator != '' ">
            and CREATOR=#{creator,jdbcType=VARCHAR}
        </if>
        <if test="createtime != null ">
            and CREATETIME=#{createtime,jdbcType=TIMESTAMP}
        </if>
        <if test="deparmentcode != null  and deparmentcode != '' ">
            and DEPARMENTCODE=#{deparmentcode,jdbcType=VARCHAR}
        </if>
        <if test="lastupdatetime != null ">
            and LASTUPDATETIME=#{lastupdatetime,jdbcType=TIMESTAMP}
        </if>
        <if test="deleteflag != null  and deleteflag != '' ">
            and DELETEFLAG=#{deleteflag,jdbcType=VARCHAR}
        </if>
        and rownum = 1
    </select>

    <select id="findListByEntity" parameterType="com.hisign.xingzhen.xz.api.entity.Usergroup" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_usergroup
        WHERE 1 = 1
        <if test="id != null  and id != '' ">
            and ID=#{id,jdbcType=VARCHAR}
        </if>
        <if test="userid != null  and userid != '' ">
            and USERID=#{userid,jdbcType=VARCHAR}
        </if>
        <if test="username != null  and username != '' ">
            and USERNAME=#{username,jdbcType=VARCHAR}
        </if>
        <if test="jh != null  and jh != '' ">
            and JH=#{jh,jdbcType=VARCHAR}
        </if>
        <if test="groupid != null  and groupid != '' ">
            and GROUPID=#{groupid,jdbcType=VARCHAR}
        </if>
        <if test="creator != null  and creator != '' ">
            and CREATOR=#{creator,jdbcType=VARCHAR}
        </if>
        <if test="createtime != null ">
            and CREATETIME=#{createtime,jdbcType=TIMESTAMP}
        </if>
        <if test="deparmentcode != null  and deparmentcode != '' ">
            and DEPARMENTCODE=#{deparmentcode,jdbcType=VARCHAR}
        </if>
        <if test="lastupdatetime != null ">
            and LASTUPDATETIME=#{lastupdatetime,jdbcType=TIMESTAMP}
        </if>
        <if test="deleteflag != null  and deleteflag != '' ">
            and DELETEFLAG=#{deleteflag,jdbcType=VARCHAR}
        </if>
        <if test="orderBy!=null and orderBy!=''">
            order by ${orderBy}
            <if test="isDesc==true">
                DESC
            </if>
        </if>
    </select>

    <select id="findByCondition" parameterType="com.hisign.bfun.bmodel.Conditions" resultMap="BaseResultMap">
        SELECT
        <choose>
            <when test="returnFields != null">
                <foreach collection="returnFields" item="f" separator=",">${f}</foreach>
            </when>
            <otherwise>
                <include refid="Base_Column_List" />
            </otherwise>
        </choose>
        FROM t_usergroup
        <if test="connectTable!=null">
            <foreach collection="connectTable" item="tb">
                ,${tb}
            </foreach>
        </if>
        <include refid="Conditions_Where_Clause" />
        and rownum = 1
    </select>

    <select id="findList"  parameterType="com.hisign.bfun.bmodel.Conditions" resultMap="BaseResultMap">
        select p.* from(
        select
        rownum,rownum as rn,a.* from (
        select t.* from (

        SELECT
        <if test="distinct!=false">
            DISTINCT
        </if>
        <choose>
            <when test="returnFields != null">
                <foreach collection="returnFields" item="f" separator=",">${f}</foreach>
            </when>
            <otherwise>
                <include refid="Base_Column_List" />
            </otherwise>
        </choose>
        FROM t_usergroup
        <if test="connectTable!=null">
            <foreach collection="connectTable" item="tb">
                ,${tb}
            </foreach>
        </if>
        <include refid="Conditions_Where_Clause" />
        <if test="orderByClause!=null">${orderByClause}</if>

        ) t ) a
        <if test="end !=null and end !=0">
            where rownum <![CDATA[<=]]> #{end,jdbcType=INTEGER}
        </if>
        ) p
        <if test="begin !=null and begin !=0">
            where rn >= #{begin,jdbcType=INTEGER}
        </if>
    </select>

    <select id="findCount" parameterType="com.hisign.bfun.bmodel.Conditions" resultType="java.lang.Long">
        SELECT
        COUNT(1)
        FROM t_usergroup
        <if test="connectTable!=null">
            <foreach collection="connectTable" item="tb">
                ,${tb}
            </foreach>
        </if>
        <include refid="Conditions_Where_Clause" />
    </select>

    <select id="findMaxId" resultType="java.lang.String">
        SELECT
        MAX(id)
        FROM t_usergroup
    </select>

    <!--========================================以上为生成器生成,新加代码请在下面书写============================================================-->

    <select id="findGroupUserList" parameterType="com.hisign.xingzhen.sys.api.param.SysUserInfoParam" resultMap="SysUserInfoResultMap">
        select p.* from(
        select
        rownum,rownum as rn,a.* from (
        select t.* from (
        select su.*
        <if test="isInGroup==true">
            ,(SELECT tu.ID FROM T_USERGROUP tu WHERE SU.USER_ID=tu.USERID AND tu.GROUPID=#{groupId,jdbcType=VARCHAR}) AS ID
        </if>
        from SYS_USER_INFO su where 1=1
        <if test="policeId!=null and policeId!=''">
            and SU.POLICE_ID like '%'||#{policeId,jdbcType=VARCHAR}||'%' escape '\'
        </if>
        <if test="orgId!=null and orgId!=''">
            and SU.ORG_ID=#{orgId,jdbcType=VARCHAR}
        </if>
        <if test="userName!=null and userName!=''">
            and SU.USER_NAME like '%'||#{userName,jdbcType=VARCHAR}||'%' escape '\'
        </if>
        <if test="groupId!=null and groupId!=''">
            and SU.USER_ID
            <choose>
                <when test="isInGroup==true">
                    IN
                </when>
                <otherwise>
                    NOT IN
                </otherwise>
            </choose>
            (select u.USERID from T_USERGROUP u where GROUPID=#{groupId,jdbcType=VARCHAR}
            <if test="excludeGroupId!=null and excludeGroupId!=''">
                and u.USERID not in (select uu.USERID from T_USERGROUP uu where GROUPID=#{excludeGroupId,jdbcType=VARCHAR})
            </if>
            )
        </if>
        <if test="orderBy!=null and orderBy!=''">
            ORDER BY ${orderBy}
            <if test="isDesc==true">
                DESC
            </if>
        </if>
        ) t
        ) a
        <if test="end !=null and end !=0">
            where rownum <![CDATA[<=]]> #{end,jdbcType=INTEGER}
        </if>
        ) p
        <if test="begin !=null and begin !=0">
            where rn >= #{begin,jdbcType=INTEGER}
        </if>
    </select>

    <select id="findGroupUserCount" parameterType="com.hisign.xingzhen.sys.api.param.SysUserInfoParam" resultType="java.lang.Long">
        select count(1) from SYS_USER_INFO su where 1=1
        <if test="policeId!=null and policeId!=''">
            and SU.POLICE_ID like '%'||#{policeId,jdbcType=VARCHAR}||'%' escape '\'
        </if>
        <if test="orgId!=null and orgId!=''">
            and SU.ORG_ID=#{orgId,jdbcType=VARCHAR}
        </if>
        <if test="userName!=null and userName!=''">
            and SU.USER_NAME like '%'||#{userName,jdbcType=VARCHAR}||'%' escape '\'
        </if>
        <if test="groupId!=null and groupId!=''">
            and SU.USER_ID
            <choose>
                <when test="isInGroup==true">
                    IN
                </when>
                <otherwise>
                    NOT IN
                </otherwise>
            </choose>
            (select u.USERID from T_USERGROUP u where GROUPID=#{groupId,jdbcType=VARCHAR}
            <if test="excludeGroupId!=null and excludeGroupId!=''">
                and u.USERID not in (select uu.USERID from T_USERGROUP uu where GROUPID=#{excludeGroupId,jdbcType=VARCHAR})
            </if>
            )
        </if>
    </select>

    <select id="findGroupMemberList" parameterType="java.lang.String" resultMap="SysUserInfoResultMap">
		select su.USER_ID,su.USER_NAME,su.POLICE_ID,su.ORG_NAME,t1.groupid as groupId,t2.pgroupid as pgroupId,t2.groupname,t2.creator from SYS_USER_INFO su,
		T_USERGROUP t1,t_group t2 where	SU.USER_ID=t1.userid AND t2.id=t1.groupid AND
		 (t1.GROUPID=#{groupId,jdbcType=VARCHAR} OR t2.pgroupid=#{groupId,jdbcType=VARCHAR})
	</select>

    <!--app一值对多字段 例如一个值查用户名、警号、地址、机构-->
    <select id="findUserInfoListByKey" parameterType="com.hisign.xingzhen.sys.api.param.SysUserInfoParam" resultMap="SysUserInfoResultMap">
        select p.* from(
        select
        rownum,rownum as rn,a.* from (
        select t.* from (
        select su.*
        <if test="groupId!=null and groupId!=''">
            <if test="isInGroup==true">
                ,(SELECT tu.ID FROM T_USERGROUP tu WHERE SU.USER_ID=tu.USERID AND tu.GROUPID=#{groupId,jdbcType=VARCHAR}) AS ID
            </if>
        </if>
        from SYS_USER_INFO su where 1!=1
        <if test="searchValue!=null and searchValue!=''">
            OR SU.POLICE_ID like '%'||#{searchValue,jdbcType=VARCHAR}||'%' escape '\'
            OR SU.ORG_ID IN (SELECT o.ORG_ID FROM SYS_ORGANIZATION o WHERE o.STATUS=0 AND o.ORG_NAME like '%'||#{searchValue,jdbcType=VARCHAR}||'%' escape '\')
            OR SU.USER_NAME like '%'||#{searchValue,jdbcType=VARCHAR}||'%' escape '\'
            OR su.PHONE like '%'||#{searchValue,jdbcType=VARCHAR}||'%' escape '\'
            OR su.ADDRESS like '%'||#{searchValue,jdbcType=VARCHAR}||'%' escape '\'
        </if>
        <if test="groupId!=null and groupId!=''">
            and SU.USER_ID
            <choose>
                <when test="isInGroup==true">
                    IN
                </when>
                <otherwise>
                    NOT IN
                </otherwise>
            </choose>
            (select u.USERID from T_USERGROUP u where GROUPID=#{groupId,jdbcType=VARCHAR} )
        </if>
        <if test="orderBy!=null and orderBy!=''">
            ORDER BY ${orderBy}
            <if test="isDesc==true">
                DESC
            </if>
        </if>
        ) t
        ) a
        <if test="end !=null and end !=0">
            where rownum <![CDATA[<=]]> #{end,jdbcType=INTEGER}
        </if>
        ) p
        <if test="begin !=null and begin !=0">
            where rn >= #{begin,jdbcType=INTEGER}
        </if>
    </select>

    <select id="findCountByKey" parameterType="com.hisign.xingzhen.sys.api.param.SysUserInfoParam" resultType="java.lang.Long">
        select count(1)
        from SYS_USER_INFO su where 1!=1
        <if test="searchValue!=null and searchValue!=''">
            OR SU.POLICE_ID like '%'||#{searchValue,jdbcType=VARCHAR}||'%' escape '\'
            OR SU.ORG_ID IN (SELECT o.ORG_ID FROM SYS_ORGANIZATION o WHERE o.STATUS=0 AND o.ORG_NAME like '%'||#{searchValue,jdbcType=VARCHAR}||'%' escape '\')
            OR SU.USER_NAME like '%'||#{searchValue,jdbcType=VARCHAR}||'%' escape '\'
            OR su.PHONE like '%'||#{searchValue,jdbcType=VARCHAR}||'%' escape '\'
            OR su.ADDRESS like '%'||#{searchValue,jdbcType=VARCHAR}||'%' escape '\'
        </if>
        <if test="groupId!=null and groupId!=''">
            and SU.USER_ID
            <choose>
                <when test="isInGroup==true">
                    IN
                </when>
                <otherwise>
                    NOT IN
                </otherwise>
            </choose>
            (select u.USERID from T_USERGROUP u where GROUPID=#{groupId,jdbcType=VARCHAR} )
        </if>
    </select>

</mapper>