<div class="mt0" id="query-result" >
	    <div class="new-color-bar">
	        <span class="title">（共找到<span class="total-count"></span>条数据）</span>
	        <div class="bar-btn-div">
	            <b id="add-btn" dictKey="" dictValue=""  class="cm-add-btn"></b>
	            <b id="delete-btn" dictKey="" dictValue="" class="cm-del-btn">删除目录</b>
	        </div>
	    </div>
	    <table id="dicList-table" class="typical-tb" >
	       <thead>
		        <th width="3%">序号</th>
		        <th width="7%">字典名称</th>
		        <th width="7%">字典值</th>
		        <th width="7%">字典分类</th>
		        <th width="7%">字典拼音</th>
		        <th width="7%">显示顺序</th>
		        <th width="7%">是否启用</th>
		        <th width="15%">备注</th>
		        <th width="17%">操作</th>
	        </thead>
	        <tbody>
		     
		         
	        </tbody>
	    </table>
	    <div class="paging"></div>
	</div>