<div id="dict-block" class="hide">
    <div class="dict-container">
        <div class="bar-btn-div"><b id="add-dict-btn"  class="cm-add-btn"></b></div>
        <div class="date-select" id="dict-wrap"> </div>
    </div>
</div>

<div id="addReason-block" class="hide">
    <div class="addReason-container"> </div>
</div>

<form id="add-reason-form">
    <p class="mt10">
        <span class="common-field">字典名称：</span>
        <input id="value" name="value" type="text" class="common-input w190px validate" placeholder="请输入字典名称"
               data-options="required:true" maxlength="20"/>
    </p>
    <p class="mt10" style="display: none;">
        <span class="common-field">字典值：</span>
        <input id="key" name="key" type="text" class="common-input w190px validate" placeholder="请输入字典值"
               data-options="required:true" maxlength="5" readonly/>
    </p>
    <p class="mt10" style="display: none;">
        <span class="common-field">启用标志：</span>
        <input type="hidden" name="openFlag" value="1" id="openFlag"/>
    </p>
    <p class="mt10" style="display: none;">
        <span class="common-field">顺序：</span>
        <input id="sort" name="sort" type="text" class="common-input w190px" maxlength="5" readonly/>
    </p>
    <p class="mt10">
        <span class="common-field">备注：</span>
        <textarea id="remarkReason" class="w190px common-textarea"></textarea>
    </p>
    <div class="tcenter mt20">
        <b id="save-reason-btn" class="cm-save-btn"></b>
        <b id="cancel-reason-btn" class="cm-cancel-btn"></b>
    </div>
</form>