body{
    font-family: 'Arial Negreta', 'Arial';
    color:#666;
    margin:0;
    padding:0;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
img{
    vertical-align: middle;
}
.main-div{
    width:100%;
    background:#eee;
}
.my-box{
    margin-left: 20px;
    margin-right:65px;
    padding-top:5px;
    padding-bottom:5px;
}
.daiban,.zuixin{
    border:1px solid transparent;
    margin-top:15px;
    background: #fff;
    -moz-box-shadow: 0 0 10px 0 rgba(214, 222, 224, 0.8);
    -o-box-shadow: 0 0 10px 0 rgba(214, 222, 224, 0.8);
    -webkit-box-shadow: 0 0 10px 0 rgba(214, 222, 224, 0.8);
    box-shadow: 0 0 10px 0 rgba(214, 222, 224, 0.8);
}
.daiban h3,.zuixin h3,.my-notice h3,.my-rule h3,.my-tabledown h3,.kaizhiqk h3,.wupinqk h3,.yongcheqk h3,.gechuxiangmu h3,.gechuwupin h3,.gechuyongche h3{
    height:40px;
    line-height: 40px;
    font-size: 16px;
    border-bottom: 1px solid #E5E5E5;
    font-weight: 700;
    padding:0 5px;
    margin:0;
}
.zuixin h3 a,.my-notice h3 a,.my-rule h3 a,.my-tabledown h3 a{
    float:right;
    font-size: 13px;
    color:#9C9F9F;
}
.daiban>ul{
    height:230px;
}
.zuixin .news{
    height:227px;
}
.daiban ul ul{
    height:50px;
}
/*待办任务*/
.daiban h6{
    color:#666;
    padding:0 30px;
    font-size: 13px;
    font-weight: 700;
    margin:7px 0;
}
li.kaizhi ul>li,.cheliang ul>li,.wupin ul>li{
    width:120px;
    height:45px;
    float:left;
    margin-left:10%;
}
li.kaizhi ul>li a,.cheliang ul>li a,.wupin ul>li a{
    display: block;
}
.daiban ul ul li a>img{
    width:40px;
    margin:5px 12px 5px 8px;
}
.daiban ul ul li a>ol{
    color:#fff;
    float:right;
    margin-right:10px;
}
.daiban ul ul li a>ol span{
    font-size: 19px;
    margin:0 4px;
}
.my-green{
    background:#00A03B;
}
.my-red{
    background:#FF4827;
}
.my-purple{
    background:#AA56AB;
}
.my-black{
    background:#4E6062;
}
.my-yellow{
    background:#FF8C00;
}
.my-blue{
    background:#00ACE3;
}
/*处室待办任务*/
li.kaizhiC ul>li,.cheliangC ul>li,.wupinC ul>li{
    width:130px;
    height:45px;
    background:#0000FF;
    float:left;
    margin-left:2.5%;
}
/*�������·���(��ǰ5����20)*/
.news{
    margin:10px auto;
    border:0;
    height:210px;
    padding-top:7px;
    overflow: scroll;
}
.news>div,.notice>div,.rule>div,.tabledown>div{
    height:35px;
    margin-top:5px;
    position:relative;
    border:0;
}
.news>div{
    height:36px;
}
.news span.news-num,.notice span.notice-num,.rule span.rule-num,.tabledown span.tabledown-num{
    display: inline-block;
    background: #14ABE4;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-left: 15px;
    text-align: center;
    color: #fff;
}
.news span.news-result,.notice span.notice-result,.rule span.rule-result,.tabledown span.tabledown-result{
    display: inline-block;
    width: 65%;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    color: #333;
    position: absolute;
    top: 0;
    left: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news span.news-result span,.notice span.notice-result span,.rule span.rule-result span,.tabledown span.tabledown-result span{
    color:#0000FF;
}
.news span.news-time,.notice span.notice-time,.rule span.rule-time,.tabledown span.tabledown-time{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 12px;
    color: #CFCCD5;
}
/*֪ͨ����*/
.notice,.rule,.tabledown{
    margin:9px auto 4px;
    height:195px;
}
/*���˾��ѿ�֧���*/
.kaizhiqk,.wupinqk,.yongcheqk,.gechuxiangmu,.gechuwupin,.gechuyongche{
    position: relative;
}
.kaizhiqk ul,.wupinqk ul,.yongcheqk ul,.gechuxiangmu ul,.gechuwupin ul,.gechuyongche ul{
    position:absolute;
    top:8px;
    right:10px;
}
.kaizhiqk ul li,.wupinqk ul li,.yongcheqk ul li,.gechuxiangmu ul li,.gechuwupin ul li,.gechuyongche ul li{
    float:left;
    color:#9F9F9F;
    font-size: 13px;
    border:1px solid #ccc;
    padding:0 4px;
    cursor: pointer;
}
.kaizhiqk ul li.active,.wupinqk ul li.active,.yongcheqk ul li.active,.gechuxiangmu ul li.active,.gechuwupin ul li.active,.gechuyongche ul li.active{
    background:#999999;
    color:#fff;
    box-shadow: 2px 4px 6px #ccc;
}
/*右边固定条*/
.fixedbox{
    width: 40px;
    background:#333;
    height:100%;
    position: fixed;
    z-index: 50;
    top:15px;
    right:12px;
}
.fixedbox .left-bar{
    position:relative;
    top: 25%;
}
.fixedbox .left-bar a{
    position: relative;
    display: inline-block;
    width:40px;
    height:40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-border-radius:50%;
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-bottom: 12px;
    line-height: 40px;
}
.fixedbox .left-bar a:hover{
    cursor: pointer;
}
.fixedbox .left-bar a.money{
    background:#0037C6;
}
.fixedbox .left-bar a.car{
    background:#FF5955;
}
.fixedbox .left-bar a.goods{
    background:#0099FF;
}
.tooltip-new{
    position: absolute;
    left: -55px;
    top: 8px;
    background: #333333;
    color: #ffffff;
    font-size: 12px;
    line-height: 22px;
    padding: 3px 5px;
    border-radius: 6px;
}

.my-notice,.my-rule,.my-tabledown,.kaizhiqk{
    margin:14px 15px 0;
    border:1px solid transparent;
    background:#fff;
    -moz-box-shadow: 0 0 10px 0 rgba(214, 222, 224, 0.8);
    -o-box-shadow: 0 0 10px 0 rgba(214, 222, 224, 0.8);
    -webkit-box-shadow: 0 0 10px 0 rgba(214, 222, 224, 0.8);
    box-shadow: 0 0 10px 0 rgba(214, 222, 224, 0.8);
}
.wupinqk,.yongcheqk,.gechuxiangmu,.gechuwupin,.gechuyongche{
    margin:14px auto;
    border:1px solid transparent;
    background: #fff;
    -moz-box-shadow: 0 0 10px 0 rgba(214, 222, 224, 0.8);
    -o-box-shadow: 0 0 10px 0 rgba(214, 222, 224, 0.8);
    -webkit-box-shadow: 0 0 10px 0 rgba(214, 222, 224, 0.8);
    box-shadow: 0 0 10px 0 rgba(214, 222, 224, 0.8);
}
.gechuxiangmu,.gechuwupin,.gechuyongche{
    margin:3px auto 15px;
}
/*加载个人经费开支情况图表*/
#kaizhiqkT,#wupinqkT,#yongcheqkT{
    width:auto;
    height:300px;
}
/*加载个各处项目开支情况图表*/
#gechuxiangmuT,#gechuwupinT,#gechuyongcheT{
    width:auto;
    height:280px;
}
/*去除padding*/
@media screen and (min-width:992px){
    .clearPadding{
        padding-left:0 !important;
    }
}
