/* 图片轮播css */
.pic-slide{
    width: 770px;
    margin: 10px auto;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
}
.pic-slide .slick-prev, 
.pic-slide .slick-next{
    top: 33%;
    height: 50px;
    width: 50px;
}
.pic-slide .slick-prev:before, 
.pic-slide .slick-next:before{
    font-size: 40px;
    color: #d3d3d3;
}
.pic-slide .slick-prev{
    left: 0;
}
.pic-slide .slick-next{
    right: 0;
}
.pic-slide .slide{
    text-align: center;
}
.pic-slide .slide-content{
    margin: 0 auto;
    width: 500px;
}
.pic-slide .slide-content img{
    width: 500px;
    height: 300px;
}
.pic-slide .slick-ul-container{
    position: relative;
    margin-top: 20px;
    height: 120px;
}
.pic-slide .slick-ul-container>div{
    position: relative;
    margin: 0 30px;
    overflow: hidden;
    height: 100%;
}
.pic-slide .slick-ul-container .docs-switch{
    position: absolute;
    top: 37%;
    font-size: 20px;
    font-weight: bold;
}
.pic-slide .slick-ul-container .docs-left{
    /*display: none;*/
    left: 5px;
}
.pic-slide .slick-ul-container .docs-right{
    right: 5px;
}
.pic-slide .slick-ul-container .docs-left:before{
    content: '<';
}
.pic-slide .slick-ul-container .docs-right:before{
    content: '>';
}
.pic-slide .slick-dots{
    /*top: 340px;*/
    /*height: 90px;*/
    top: 15px;
    height: 100%;
    /*width: 1000%;*/
}
.pic-slide .slick-dots li{
    float: left;
    width: 95px;
    height: 100%;
}
.pic-slide .slick-dots li.slick-active{
    transform: scale(1.2);
}
.pic-slide .slick-dots li.slick-active img{
    /*border: 2px solid #0092dc;
    padding: 1px;*/
}
.pic-slide .slick-dots li a img{
    width: 90px;
    height: 90px;
}