h2{
    font-size:20px; 
    text-align: center;
}
.tool-bar{
    padding: 15px 120px;
    transform: scale(1.2);
}
.tool-bar .upload-btn{
    display: inline-block;
    line-height: 24px;
    padding: 0 10px;
    background: deepskyblue;
    color:#fff;
    margin: 0 30px;
}
.tool-bar input{
	width: 60px;
    color: gray;
    border-radius: 0;
    border-color: #d88910;
}
.upimg-drop-area-wrap {
    border: 3px dashed #ccc;
}
.upimg-drop-area-wrap p{
    font-size: 24px;
    padding: 55px;
}
.upimg-drop-area-wrap img{
    margin: 3px;
}
.upimg-drop-area {
    width: 49.9%;
    float:left;
    height:150px;
    overflow:auto;
    position:relative;
}
.upimg-nodrop-area {
	width: 49.9%;
    float:left;
    height:150px;
    overflow:auto;
    position:relative;
    border-top:3px dashed #cccccc;
}
.upimg-drop-alert {
    position:absolute;
    top:0;
    right:10px;
    bottom:0;
    left:0;
    text-align: center;
    color: #ccc;
    font-size: 20px;
	z-index: 1;
}
.upimg-drop-area:nth-child(odd) {
    border-right: 3px dashed #cccccc;
}
.upimg-drop-area:nth-child(n+3){
    border-top:3px dashed #cccccc;
}
.img-wrap{
	position: relative;	
	padding:2px;
	display:inline-block;
	/* width:150px; */
	overflow:hidden;
}
.img-wrap img{
	width:140px;
	height:auto;
	max-height:140px;
}
.img-wrap b{
	/* visibility: hidden; */
	display:none;
}

.img-wrap:hover b{
	display:block;
	position: absolute;
    top: 0;
    right: 0;
    width: 30px;
	text-align:center;
    line-height: 30px;
	font-size:24px;
    background-color: rgba(238, 51, 51, 0.68);
    color: #fff;
    border-radius: 50%;
}
.upwrap{
	display:inline-block;
	position:relative;
}
.up-label{
    position: absolute;
    background: #24900D;
    width: 70px;
    line-height: 23px;
    color: #fff;
    text-align: center;
    left: 0;
    top: 0;
    cursor: pointer;
}