<form class="query-block"  id="query-condition">
    <div class="query-block-row">
        <div class="col-auto">
            <label class="common-field">标题：</label>
            <input id="subject" name="subject" value="" type="text"  class="common-input" />
        </div>
    </div>
    <div class="query-block-row">
        <div class="col-auto">
            <label class="common-field">发布时间：</label>
            <div class="text-time">
                <input id="createDate" readonly="readonly" class="common-input" placeholder="请输入时间范围" ><i class="icon-calendar icon-time"></i>
                <input type="hidden" name="startTime" id="startTime" />
                <input type="hidden" name="endTime" id="endTime" />
            </div>
			<span class="option date-select" id="changeTimeScope">
				<u val="" class="active">全部</u>
				<u val="1">当天</u>
				<u val="2">当月</u>
				<u val="3">当季</u>
				<u val="4">当年</u>
			</span>
        </div>
    </div>
    <hr class="cm-dash"/>
    <p class="query-reset" style="margin-top: -42px;">
        <b id="query-btn" class="cm-query-btn"></b>
        <b id="reset-btn" class="cm-reset-btn"></b>
    </p>
</form>
<div id="query-result" class="query-result" >
    <div class="new-color-bar">
        <span class="title">查询结果（共找到<span class="total-count"></span>条数据）</span>
        <div class="bar-btn-div">
            <b id="add-btn" class="cm-add-btn"></b>
        </div>
    </div>
    <table id="noticeInfoList-table" class="noticeInfoList-table typical-tb" >
        <thead>
        <tr>
            <th width="10%">序号</th>
            <th width="35%">标题</th>
            <th width="20%">发布时间</th>
            <th width="35%">操作</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="paging"></div>
</div>
