<form id="showNotice-form" >
    <h4 class="form-section-title">
        <span>通知/公告</span>
    </h4>
    <p class="mt10">
        <span class="common-field">标题：</span>
        <span></span>
    </p>
    <p class="mt10">
        <span class="common-field">内容：</span>
    </p>
    <div style="margin:10px;">

    </div>
    <p class="mt10">
        <span class="common-field">附件：</span>
        <a href="#"></a>
    </p>
</form>
<p class="tcenter mt40">
    <b id="cancel-btn" class="cm-close-btn"></b>
</p>
