<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hisign.xingzhen.sys.mapper.SysOrgInfoMapper">
    <resultMap id="BaseResultMap" type="com.hisign.xingzhen.sys.api.model.SysOrgInfo">
        <id column="ORG_ID" jdbcType="VARCHAR" property="orgId"/>
        <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName"/>
        <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode"/>
        <result column="ORG_LEVEL" jdbcType="VARCHAR" property="orgLevel"/>
        <result column="SUPER_ID" jdbcType="VARCHAR" property="superId"/>
        <result column="SUPER_NAME" jdbcType="VARCHAR" property="superName"/>
        <result column="STATUS" jdbcType="DECIMAL" property="status"/>
        <result column="PINYIN" jdbcType="VARCHAR" property="pinyin"/>
        <result column="FIRST_LETTER" jdbcType="VARCHAR" property="firstLetter"/>
        <result column="SHORTENED_NAME" jdbcType="VARCHAR" property="shortenedName"/>
        <result column="CREATE_PID" jdbcType="VARCHAR" property="createPid"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFY_PID" jdbcType="VARCHAR" property="modifyPid"/>
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>

    </resultMap>
    <sql id="Base_Column_List">
        ORG_ID, ORG_NAME, ORG_CODE, ORG_LEVEL, SUPER_ID, STATUS, PINYIN, FIRST_LETTER, SHORTENED_NAME,
        CREATE_PID, CREATE_TIME, MODIFY_PID, MODIFY_TIME
    </sql>
    <sql id="orderBy">
        order by
        <choose>
            <when test="sortName !=null and sortName !=''">
                ${sortName}
                <choose>
                    <when test="sortOrder !=null and sortOrder !=''">
                        ${sortOrder}
                    </when>
                    <otherwise>DESC</otherwise>
                </choose>
            </when>
            <otherwise>
                ORG_CODE ASC
            </otherwise>
        </choose>
    </sql>
    <sql id="where_condition">
        <if test="orgName != null and orgName !='' ">
            AND ORG_NAME like '%'||#{orgName,jdbcType=VARCHAR}||'%' escape '\'
        </if>
        <if test="orgCode != null">
            AND ORG_CODE = #{orgCode,jdbcType=VARCHAR}
        </if>
        <if test="superId != null and superId !='' ">
            AND SUPER_ID = #{superId,jdbcType=VARCHAR}
        </if>
        <if test="status != null">
            AND STATUS = #{status,jdbcType=DECIMAL}
        </if>
        <if test="orgLevel != null">
            AND ORG_LEVEL = #{orgLevel,jdbcType=DECIMAL}
        </if>
        <if test="pinyin != null and pinyin !='' ">
            AND PINYIN like '%'|| #{pinyin,jdbcType=VARCHAR}||'%' escape '\'
        </if>
        <if test="firstLetter != null and firstLetter !='' ">
            AND FIRST_LETTER like '%'|| #{firstLetter,jdbcType=VARCHAR}||'%' escape '\'
        </if>
        <if test="orgIds !=null and orgIds.size() > 0">
            and ORG_ID IN
            <foreach collection="orgIds" item="orgId" open="(" separator="," close=")">#{orgId}</foreach>
        </if>
    </sql>
    <select id="selectByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>,
        (SELECT s.org_name from SYS_ORGANIZATION s where s.ORG_ID=t.SUPER_ID) as SUPER_NAME
        from SYS_ORGANIZATION T
        where ORG_ID = #{orgId,jdbcType=VARCHAR}
    </select>
    <select id="queryListByCondition" parameterType="com.hisign.xingzhen.sys.api.model.SysOrgInfo"
            resultMap="BaseResultMap">
        select p.* from(
        select
        rownum,rownum as rn,a.* from (
        select t.* from (
        select
        <include refid="Base_Column_List"/>
        from SYS_ORGANIZATION where 1=1
        <include refid="where_condition"/>
        ) t
        <include refid="orderBy"/>
        ) a
        <if test="end !=null and end !=0">
            where rownum <![CDATA[<=]]> #{end,jdbcType=INTEGER}
        </if>
        ) p
        <if test="begin !=null and begin !=0">
            where rn >= #{begin,jdbcType=INTEGER}
        </if>
    </select>
    <select id="queryCountByCondition" parameterType="com.hisign.xingzhen.sys.api.model.SysOrgInfo"
            resultType="java.lang.Integer">
        select
        count(1)
        from SYS_ORGANIZATION where 1=1
        <include refid="where_condition"/>
    </select>
    <select id="getOrgTreeListBySuperId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM SYS_ORGANIZATION S WHERE s.STATUS=0 START WITH S.ORG_ID=#{superId,jdbcType=VARCHAR} CONNECT BY PRIOR ORG_ID
        = SUPER_ID
    </select>

    <delete id="deleteByKey" parameterType="java.lang.String">
        DELETE FROM SYS_ORGANIZATION
        WHERE ORG_ID = #{orgId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.hisign.xingzhen.sys.api.model.SysOrgInfo">
        INSERT INTO SYS_ORGANIZATION (ORG_ID, ORG_NAME, ORG_CODE, ORG_LEVEL,
                                      SUPER_ID, STATUS, PINYIN,
                                      FIRST_LETTER, SHORTENED_NAME, CREATE_PID,
                                      CREATE_TIME, MODIFY_PID, MODIFY_TIME
        )
        VALUES (sys_guid(), #{orgName,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{orgLevel,jdbcType=DECIMAL},
                            #{superId,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, #{pinyin,jdbcType=VARCHAR},
                            #{firstLetter,jdbcType=VARCHAR}, #{shortenedName,jdbcType=VARCHAR},
                            #{createPid,jdbcType=VARCHAR},
                            sysdate, #{modifyPid,jdbcType=VARCHAR}, sysdate
        )
    </insert>

    <update id="update" parameterType="com.hisign.xingzhen.sys.api.model.SysOrgInfo">
        UPDATE SYS_ORGANIZATION
        SET ORG_NAME       = #{orgName,jdbcType=VARCHAR},
            ORG_CODE       = #{orgCode,jdbcType=VARCHAR},
            ORG_LEVEL      = #{orgLevel,jdbcType=VARCHAR},
            SUPER_ID       = #{superId,jdbcType=VARCHAR},
            STATUS         = #{status,jdbcType=DECIMAL},
            PINYIN         = #{pinyin,jdbcType=VARCHAR},
            FIRST_LETTER   = #{firstLetter,jdbcType=VARCHAR},
            SHORTENED_NAME = #{shortenedName,jdbcType=VARCHAR},
            MODIFY_PID     = #{modifyPid,jdbcType=VARCHAR},
            MODIFY_TIME    = sysdate
        WHERE ORG_ID = #{orgId,jdbcType=VARCHAR}
    </update>

    <select id="findOrgNotIn" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from SYS_ORGANIZATION s where s.ORG_LEVEL IN (0,1)
        <if test="list !=null and list.size() > 0">
            and s.ORG_ID NOT IN
            <foreach collection="list" item="orgId" open="(" separator="," close=")">#{orgId}</foreach>
        </if>
    </select>

    <select id="findOrgIn" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from SYS_ORGANIZATION s where s.ORG_LEVEL IN (0,1)
        <if test="list !=null and list.size() > 0">
            and s.ORG_ID IN
            <foreach collection="list" item="orgId" open="(" separator="," close=")">#{orgId}</foreach>
        </if>
    </select>

</mapper>