<div style="" class="my-box">
    <div class="row" id="todoDiv">
        <!--代办-->
    </div>

    <div class="row">
        <div class="col-md-5" id="achievementDiv">
            <!--平台成果-->
        </div>

        <div class="col-md-7 clearPadding" id="newsDiv">
            <!--通知公告-->
        </div>

    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="row" id="messageDiv">
                <!--信息提醒-->
            </div>
            <div class="row" id="knowledgeDiv">
                <!--知识库-->
            </div>
            <div class="row" id="toolDownloadDiv">
                <!--系统工具下载-->
            </div>
        </div>
        <div class="col-md-7 clearPadding">
            <div class="row" id="areaSolveCaseDiv">
                <!--各区域专案组破案情况-->
            </div>
            <div class="row" id="areaCreateCaseDiv">
                <!--各区域专案组创建情况-->
            </div>
        </div>


    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background: rgba(0,0,0, .7);">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content" style="min-height:600px;max-height: 600px;">

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>