<div class="panel-header">
    <div class="panel-tool">
        <a href="javascript:void(0);" class="panel-tool-close" data-dismiss="modal" aria-hidden="true"></a>
    </div>
    <div  class="panel-title">规章制度</div>
</div>
<div class="modal-body">
    <h3 class="my-title"><%=data.subject%></h3>
    <div class="my-common text-center">
        <span class="common-text">发布时间：</span><span class="common-text"><%=data.createDate%></span>
    </div>
    <div class="my-content"><%=data.content%></div>
    <div class="my-common" id="ruleRev1"><span class="common-text">附件：</span><span class="common-text"><a href="<%=top.ftpServer%><%=data.rev1%>" download="<%=data.rev1%>"><%=data.rev1%></a></span></div>
</div>








