<div class="col-fix-4">
    <!--反馈-->
    <div class="list-todo" id="feedback">
        <div class="todo-title feedback">反馈</div>
        <div class="todo-content">
            <div class="todo-num"><%=data.feedback.number%>条</div>
            <div class="todo-text">待确认</div>
        </div>
    </div>
</div>
<div class="col-fix-4 clearPadding">
    <!--接收-->
    <div class="list-todo" id="received">
        <div class="todo-title received">接收</div>
        <div class="todo-content">
            <div class="todo-num"><%=data.received.number%>条</div>
            <div class="todo-text">待接收</div>
        </div>
    </div>
</div>
<div class="col-fix-4 clearPadding">
    <!--超期-->
    <div class="list-todo" id="delay">
        <div class="todo-title delay">超期</div>
        <div class="todo-content">
            <div class="todo-num"><%=data.delay.number%>条</div>
            <div class="todo-text">未处理</div>
        </div>
    </div>
</div>