<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="-1"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta name="author" content="miya" />
    <meta name="date" content="2017-09-20 09:15:08" />
    <title>任务管理</title>
    <!--<link rel="stylesheet" href="../../css/base.css?version=0.99">-->
    <link rel="stylesheet" href="../../css/base-plus-xz.css">
</head>
<body>
<div class="body-agent" id="mainDiv">

</div>


<div id="dict-block" class="hide">
    <div class="dict-container">
        <div class="bar-btn-div"><b id="add-dict-btn"  class="cm-add-btn" style="line-height: 24px;"></b></div>
        <div class="date-select" id="dict-wrap"> </div>
    </div>
</div>

<div id="addReason-block" class="hide">
    <div class="addReason-container"> </div>
</div>


<div id="userListDiv" class="hide">
    <div class="panel-container">
        <form class="query-block"  id="query-condition">
            <div class="query-block-row">
                <div class="fl qc-group-l">
                    <span class="qc-label-xl">警号：</span>
                    <input class="common-input" id="repayAmount" type="text">
                </div>
                <div class="fl qc-group-l">
                    <span class="qc-label-xl">姓名：</span>
                    <input class="common-input" id="name" type="text">
                </div>
            </div>
            <div class="query-block-row">
                <div class="fl qc-group-l">
                    <span class="qc-label-xl">单位：</span>
                    <input class="common-input" id="unit" type="text">
                </div>
            </div>
            <div class="query-widget-wrap">
                <hr class="cm-dash ">
                <p class="query-reset ">
                    <button id="resetBtn" class="cm-reset-btn">重 置</button>
                    <button id="queryBtn" class="cm-query-btn">查 询</button>
                </p>
            </div>
        </form>
        <div id="" class="query-result">
            <div class="new-color-bar">
                <i class="icon-search fs14 mr10"></i>
                <span class="title">查询结果（共找到<span class="total-count"></span>条数据）</span>
            </div>
            <div class="div-table-wrap">
                <table id="userInfoTable" class="userInfoList-table typical-tb">
                    <thead>
                    <tr>
                        <th>单选</th>
                        <th>序号</th>
                        <th>成员姓名</th>
                        <th>警号</th>
                        <th>联系方式</th>
                        <th>职位</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input class="choseOneUser" type="checkbox" id="id" ></td>
                        <td>1</td>
                        <td>李四</td>
                        <td>J001</td>
                        <td>15111441569</td>
                        <td>警官</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="paging"></div>
        </div>
        <div class="form-btn-block">
            <button id="cancelBtn" class="cm-cancel-btn">取 消</button>
            <button id="transferBtn" class="cm-save-btn">移 交</button>
        </div>
    </div>
</div>

</body>
<script src="../../js/base.js?version=0.99"></script>
<script src="../../plugin/daterangepicker/daterangepicker.js?version=0.99"></script>
<script src="../../plugin/daterangepicker/datetimepicker.js?version=0.99"></script>
<script src="../../plugin/daterangepicker/moment.js?version=0.99"></script>
<script src="../../plugin/timeScope.js"></script>
<script src="../../script/selectUtils.js"></script>
<script data-main="task.js" src="/plugin/require.js" type="text/javascript"></script>
</html>